<table cellSpacing="1" cellPadding="0" align="center" border="0" width="100%">
<tr>
<td class="RealEstateTable">
<table cellSpacing="1" cellPadding="3" width="100%" border="0">
<tr>
<td class="RealEstateContentCell" width="140px" align="center" valign="middle">
<table class="photo-frame">
<tr>
<td class="topx--"></td>
<td class="top-x-"></td>
<td class="top--x"></td>
</tr>
<tr>
<td class="midx--"></td>
<td valign="top"><a href="[LINK]"><img src="[PHOTOLINKSMALL]" border="0" class="photo_198" width="[PHOTOWIDTHSMALL]" height="[PHOTOHEIGHTSMALL]" alt="Emlak ilanı - [TYPE] [CUSTOM:SehirCivari] - [CUSTOM:Baslik]"></a></td>
<td class="mid--x"></td>
</tr>
<tr>
<td class="botx--"></td>
<td class="bot-x-"></td>
<td class="bot--x"></td>
</tr>
</table>
</td>
<td class="RealEstateContentCell" valign="top">
<div class="Normal">
[EDIT]
<span class="RealEstateCity">[CUSTOM:SehirCivari], [CUSTOM:ilce]</span><br />
<span class="RealEstateLink"><a href="[LINK]">[CUSTOM:Baslik]</a></span><br />
[CUSTOM:KisaAciklama]<br />
</div>
</td>
<td width="135px" class="RealEstateContentCell" valign="top">
<div class="Normal">
<strong>[CAPTION:Fiyat]: </strong> [CUSTOM:Fiyat]<br />
<table width="100%">
<tr>
<td width="20px" align="right"><span class="NormalBold">[CUSTOM:YatakOdasi]</span></td>
<td width="25px" class="bed"></td>
<td width="20px" align="right"><span class="NormalBold">[CUSTOM:Otopark]</span></td>
<td width="25px" class="car"></td>
<td width="20px" align="right"><span class="NormalBold">[CUSTOM:Banyo]</span></td>
<td width="25px" class="bath"></td>
</tr>
</table>
<a href="[LINK]" title="Gayrimenkulü Göster" class="arrowLink">Gayrimenkul Göster</a>
</div>
<table border="0" class="ilanistatistik">
<tr>
<td colspan="2"><div align="center">[RATING]</div></td>
</tr>
<tr> 
<td><div align="right"><b>Değerlendiren:</b></div></td>
<td> [RATINGCOUNT]</td>
</tr>
<tr>
<td><div align="right"><b>Ziyaret Sayısı:</b></div></td>
<td>[HITS]</td>
</tr>
</table>
</td>
</tr>
</table>
</td>
</tr>
</table>