<table cellSpacing="1" cellPadding="0" align="center" border="0" width="100%" ID="Table1">
	<tr>
		<td class="RealEstateTable">
			<table cellSpacing="1" cellPadding="3" width="100%" border="0" ID="Table2">
				<tr>
					<td class="RealEstateContentCell" valign="top">
						<table width="100%">
						<tr>
							<td valign="top">
								<div class="NormalBold">
									[EDIT]<span class="RealEstateLink" ><a href="[LINK]">[CUSTOM:Baslik]</a></span>
									<div class="hr"></div>
								</div>
								<div class="Normal">
									
                    <table cellpadding="5" cellspacing="0">
                      <tr>
										
                        <td class="Normal" width="150"> <strong>[CAPTION:SehirCivari]</strong><br />
                          [CUSTOM:SUBURB]<br />
                          <br />
										</td>
										
                        <td width="135" class="Normal"> <strong>[CAPTION:STATE]</strong><br />
                           [CUSTOM:STATE]<br />
                          <br />
										</td>
									</tr>
									<tr>
										
                        <td width="150" valign="top" class="Normal"> <strong>[CAPTION:Fiyat]</strong><br />
                          [CUSTOM:Fiyat]
                          <br />
										</td>
										
                        <td width="135" valign="top" class="Normal"> <strong>&Ouml;zellikler</strong> 
                          <table width="135px" height="28" ID="Table3">
                            <tr>
												
                              <td width="20px" height="22" align="right"><span class="NormalBold">[CUSTOM:YatakOdasi]</span></td>
												<td width="25px" class="bed"></td>
												<td width="20px" align="right"><span class="NormalBold">[CUSTOM:Otopark]</span></td>
												<td width="25px" class="car"></td>
												<td width="20px" align="right"><span class="NormalBold">[CUSTOM:Banyo]</span></td>
												<td width="25px" class="bath"></td>
											</tr>
											</table>
										</td>
									</tr>
									</table>
									
									
									<div class="hr"></div>
					
                    <p><b>[CUSTOM:KisaAciklama]</b><br />
                      [CUSTOM:TamAciklama]</p>
                    <p><strong>Telefon :</strong> [CUSTOM:Telefon]<br />
                      <strong>Adres</strong>: [CUSTOM:Adres]<br>
                      <br>    </p>
<table border="0">

  <tr>
    <td><b>Ziyaret Sayısı:</b></td>
    <td>[HITS]</td>
  </tr>
  <tr> 
    <td><b>Değerlendirme:</b></td>
    <td>5 üzerinden [RATINGCOUNT] değerlendirmede ortalama  [RATINGVALUE] puan</td>
  </tr>
</table>


                  </div>
							</td>
							<td width="350px" valign="top" align="center">
								[PHOTOS]<p></p><b>www.KiralikEv.NET</b> <br />
<img src="http://www.kiralikev.net/Portals/7/Sahibinden-kiralik-ilanlar.gif" />
							</td>
						</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>