<link rel="stylesheet" href="http://www.kiralikev.net/tabber.css" type="text/css"
media="screen">
<link rel="stylesheet" href="http://www.kiralikev.net/tabber-print.css" type="text/css"
media="print">
<script type="text/javascript" src="http://www.kiralikev.net/js/tabber.js"></script>
<table cellspacing="1" cellpadding="0" align="center" border="0" width="100%" id="Table1">
<tr>
<td class="RealEstateTable">
<table cellspacing="1" cellpadding="3" width="100%" border="0" id="Table2">
<tr>
<td class="RealEstateContentCell" valign="top">
<div class="tabber" id="ilan">
<div class="tabbertab">
<h2>
İlan Detayları</h2>
<table width="100%">
<tr>
<td valign="top">
<div class="NormalBold">
[EDIT]<span class="RealEstateLink"><a href="[LINK]">[CUSTOM:Baslik]</a></span>
<div class="hr">
</div>
</div>
<div class="Normal">
<table width="100%" cellpadding="5" cellspacing="0">
<tr>
<td class="Normal" width="150">
<strong>[CAPTION:SehirCivari], [CAPTION:ilce]</strong><br />
[CUSTOM:SehirCivari], [CUSTOM:ilce]<br />
<br />
</td>
<td width="135" class="Normal">
<strong>Oturum Alanı</strong><br />
[CUSTOM:Alani]m<sup>2</sup><br />
<br />
</td>
<td width="135" rowspan="2" align="right" class="Normal">
<a href="#">
<img src="[PHOTOLINKSMALL]" alt="Resimler bölümünü tıklayarak diğer resimleri görebilirsiniz."
title="Emlak ilanı için Resimler bölümünü tıklayarak diğer resimleri görebilirsiniz." border="1"
onclick="document.getElementById('ilan').tabber.tabShow(1);"></a>
</td>
</tr>
<tr>
<td width="150" valign="top" class="Normal">
<strong>[CAPTION:Fiyat]</strong><br />
[CUSTOM:Fiyat] [CUSTOM:ParaBirimi]
<br />
<a href="http://www.kiralikev.net/Emlak%C4%B0lanlar%C4%B1/KrediHesapla/tabid/548/Default.aspx">
Kredi Hesapla</a>
</td>
<td width="135" valign="top" class="Normal">
<strong>Özellikler</strong>
<table width="135px" height="28" id="Table3">
<tr>
<td width="20px" height="22" align="right">
<span class="NormalBold">[CUSTOM:YatakOdasi]</span>
</td>
<td width="25px" class="bed">
</td>
<td width="20px" align="right">
<span class="NormalBold">[CUSTOM:Otopark]</span>
</td>
<td width="25px" class="car">
</td>
<td width="20px" align="right">
<span class="NormalBold">[CUSTOM:Banyo]</span>
</td>
<td width="25px" class="bath">
</td>
</tr>
</table>
</td>
</tr>
</table>
<a href="#" onclick="document.getElementById('ilan').tabber.tabShow(4);"><img src="/Portals/7/images/iletisim.gif" border="0" alt="İlan sahibi ile iletişim kurmak için tıklayın." /></a> &nbsp;
<!-- AddThis Button BEGIN -->
<script type="text/javascript">var addthis_pub="kiralikev";
var addthis_options = 'email, favorites, facebook, twitter, myspace, google, reddit, live, digg, fark, more';
var addthis_language = "tr"; 
var addthis_brand = "KiralikEv.NET";
var addthis_localize = {
share_caption: "Yer imi/Paylaş",
email_caption: "Eposta",
email: "E-posta",
favorites: "Sıkkullanılanlar", 
more: "Diğer" }; 
</script>
<a href="http://www.addthis.com/bookmark.php?v=20" onmouseover="return addthis_open(this, '', '[URL]', '[TITLE]')"
onmouseout="addthis_close()" onclick="return addthis_sendto()">
<img src="http://www.kiralikev.net/portals/7/addthis/addthis_tr.gif" width="125"
height="16" alt="Bookmark and Share" style="border: 0" /></a><script type="text/javascript"
src="http://s7.addthis.com/js/200/addthis_widget.js"></script><!-- AddThis Button END -->
<div class="hr">
</div>
İlan sahibinin diğer ilanlarını görmek için <a href="http://www.kiralikev.net/Emlak%C4%B0lanlar%C4%B1/tabid/181/agentType/ViewSearch/PropertyAgentID/[USERID]/Default.aspx
"><strong>burayı</strong></a> tıklayın.
<div class="hr">
</div>
<p>
<b>[CUSTOM:KisaAciklama]</b><br />
[CUSTOM:TamAciklama]</p>
<p>
<strong>Bulunduğu Kat</strong>: [CUSTOM:BulunduguKat]<br />
<strong>Yatak Odası</strong>: [CUSTOM:YatakOdasi]<br />
<strong>Salon</strong>: [CUSTOM:Salon]<br />
<strong>Tuvalet</strong>: [CUSTOM:Tuvalet]<br />
<strong>Banyo</strong>: [CUSTOM:Banyo]<br />
<strong>Otopark</strong>: [CUSTOM:Otopark]<br />
<strong>Depozito</strong>: [CUSTOM:Depozito] [CUSTOM:ParaBirimi]<br />
<strong>Isınma Tipi</strong>: [CUSTOM:isinmaTipi] <br />
<strong>Yakıt Tipi</strong>: [CUSTOM:yakitTipi]<br />
<strong>Aidat</strong>: [CUSTOM:Aidat] [CUSTOM:ParaBirimi]<br />
<strong>Adres</strong>: [CUSTOM:Adres]<br />
<strong>İlan Numarası</strong>: [PROPERTYID]<br>
<b>Yazdır:[PRINT] </b>
<br />
<br />
<br />
</p>
<table border="0" class="Normal">
<tr>
<td class="NormalBold">
Ziyaret Sayısı:
</td>
<td>
[HITS]
</td>
</tr>
<tr>
<td class="NormalBold">Değerlendirme:
</td>
<td>
[RATING]
</td>
</tr>
<tr>
<td class="NormalBold">Değerlendiren:
</td>
<td>
[RATINGCOUNT]
</td>
</tr>
<tr>
<td class="NormalBold">Yayınlanma Tarihi:
</td>
<td>
[DATEPUBLISHED]
</td>
</tr>
<tr>
<td>
</td>
<td>
</td>
</tr>
</table>
</div>
</td>
</tr>
<tr>
<td valign="top">
<div align="center">
<br />
</div>
<br />
<br />
<div align="center">
</div>
</td>
</tr>
</table>
</div>
<div class="tabbertab">
<h2>
Resimler</h2>
<p align="center">
[PHOTOS]
</p>
<p>
[HASNOIMAGES]Bu ilan için yüklenmiş resim bulunmamaktadır.[/HASNOIMAGES]
</p>
</div>
<div class="tabbertab">
<h2>
Harita</h2>
<div align="center">
<br>
[HASNOCOORDINATES]<div align="center" class="normal">İlan sahibi bu gayrimenkule ait harita bilgilerini girmediği için harita üzerinde gösterilemiyor! <br/>Lütfen <a href="#" onclick="document.getElementById('ilan').tabber.tabShow(4);"><strong>burayı</strong></a> tıklayarak ilan sahibi ile iletişim kurun.</div>[/HASNOCOORDINATES]
[MAP]<br />
<br>
</div>
</div>
<div class="tabbertab">
<h2>
Yorumlar</h2>
<div align="center" class="normal">
<br />
[HASNOCOMMENTS]<strong>İlk
yorum yapan siz olun!</strong> <br />Bu ilan için yorum bulunmamaktadır. Aşağıdaki formu doldurarak yorum bırakabilirsiniz.[/HASNOCOMMENTS]
<br />
[COMMENTS]
<br />
[COMMENTFORMRATING]
<br />
</div>
</div>
<div class="tabbertab">
<h2>
İletişim</h2>
<div align="center">
<br />
<table border="0" align="center" cellpadding="6" class="telefon">
<tr>
<td>
<p>
Lütfen <strong>KiralikEv.NET</strong> üzerindeki <strong>[PROPERTYID]</strong> numaralı
ilan için aradığınızı belirtiniz.<br />
<br />
Telefon: <strong>[CUSTOM:Telefon]</strong></p>
</td>
</tr>
</table>
<br />
<br />
Aşağıdaki formu doldurarak ilan sahibine eposta yolu ile ileti gönderebilirsiniz.
<br>
<br />
[CONTACTFORM]
</div>
</div>
<div class="tabbertab">
<h2>
Yayınla</h2>
<div class="normal">
<div align="center">
<br />
Bu ilanı web sitenizde veya blog sayfanızda gösterebilmek için gerekli HTML kodlarını
aşağıda bulabilirsiniz. İstediğiniz kodu kopyalayarak web sitenize veya blog sayfanıza
yapıştırabilirsiniz.
<br />
<br />
<strong>HTML Kodu:</strong>
<br />
<textarea name="kod1" cols="45" id="kod1" style="height:150px;"><!--KiralikEv.NET Kodu Baslangici --> 
<a href="[LINK]">[TYPE] [CUSTOM:SehirCivari] - [CUSTOM:Baslik]</a>
<!--KiralikEv.NET Kodu Sonu --> 
</textarea>
<br />                                <br />
<strong>Önizleme: </strong>
<a href="[LINK]">[TYPE] [CUSTOM:SehirCivari] - [CUSTOM:Baslik]</a>
<hr />
<br />                                <br />
<strong>HTML Kodu:</strong>
<br />
<textarea name="kod2" cols="45" id="kod1" style="height:150px;"><!--KiralikEv.NET Kodu Baslangici -->
<LINK rel="stylesheet" type="text/css" href="http://www.kiralikev.net/Portals/7/PropertyAgent/628/Templates/RealEstate/Template.css"></LINK> 
<table cellSpacing="1" cellPadding="0" align="center" border="0" width="100%" style="font-family:Arial, Helvetica, sans-serif; font-size:12px;border: thin solid #999999;">
<tr>
<td class="RealEstateTable">
<table cellSpacing="1" cellPadding="3" width="100%" border="0">
<tr>
<td class="RealEstateContentCell" width="140px" align="center" valign="middle">
<table class="photo-frame">
<tr>
<td class="topx--"></td>
<td class="top-x-"></td>
<td class="top--x"></td>
</tr>
<tr>
<td class="midx--"></td>
<td valign="top"><a href="[LINK]"><img src="http://www.kiralikev.net[PHOTOLINKSMALL]" border="0" class="photo_198" width="[PHOTOWIDTHSMALL]" height="[PHOTOHEIGHTSMALL]" alt="[TYPE] [CUSTOM:SehirCivari]"></a></td>
<td class="mid--x"></td>
</tr>
<tr>
<td class="botx--"></td>
<td class="bot-x-"></td>
<td class="bot--x"></td>
</tr>
</table>
</td>
<td class="RealEstateContentCell" valign="top">
<div class="Normal">
[EDIT]
<strong>[CUSTOM:SehirCivari],</strong><br />
<span ><a href="[LINK]">[CUSTOM:Baslik]</a></span><br />
[CUSTOM:KisaAciklama]<br />
Adres: [CUSTOM:Adres]
<br /><br />
<strong>
<a href="[LINK]" title="Gayrimenkulü Göster" class="style1">Daha fazla bilgi ve resimler için burayı tıklayın.</a></strong>
</div>
</td>
<td width="135px" class="RealEstateContentCell" valign="top">
<div class="Normal">
<strong >[CAPTION:Fiyat]: </strong> [CUSTOM:Fiyat] [CUSTOM:ParaBirimi]<br />
<table width="100%">
<tr>
<td width="20px" align="right"><span class="NormalBold">[CUSTOM:YatakOdasi]</span></td>
<td width="25px" class="bed"></td>
<td width="20px" align="right"><span class="NormalBold">[CUSTOM:Otopark]</span></td>
<td width="25px" class="car"></td>
<td width="20px" align="right"><span class="NormalBold">[CUSTOM:Banyo]</span></td>
<td width="25px" class="bath"></td>
</tr>
</table>
</div>
</td>
</tr>
</table>
</td>
</tr>
</table>
<!--KiralikEv.NET Kodu Sonu -->
</textarea>
<br /> <br />
<strong>Önizleme:</strong>
<table cellSpacing="1" cellPadding="0" align="center" border="0" width="100%" style="font-family:Arial, Helvetica, sans-serif; font-size:12px;border: thin solid #999999;">
<tr>
<td class="RealEstateTable">
<table cellSpacing="1" cellPadding="3" width="100%" border="0">
<tr>
<td class="RealEstateContentCell" width="140px" align="center" valign="middle">
<table class="photo-frame">
<tr>
<td class="topx--"></td>
<td class="top-x-"></td>
<td class="top--x"></td>
</tr>
<tr>
<td class="midx--"></td>
<td valign="top"><a href="[LINK]"><img src="http://www.kiralikev.net[PHOTOLINKSMALL]" border="0" class="photo_198" width="[PHOTOWIDTHSMALL]" height="[PHOTOHEIGHTSMALL]" alt="[TYPE] [CUSTOM:SehirCivari]"></a></td>
<td class="mid--x"></td>
</tr>
<tr>
<td class="botx--"></td>
<td class="bot-x-"></td>
<td class="bot--x"></td>
</tr>
</table>
</td>
<td class="RealEstateContentCell" valign="top">
<div class="Normal">
[EDIT]
<strong>[CUSTOM:SehirCivari],</strong><br />
<span ><a href="[LINK]">[CUSTOM:Baslik]</a></span><br />
[CUSTOM:KisaAciklama]<br /><br />
<strong>
<a href="[LINK]" title="Gayrimenkulü Göster" class="style1">Daha fazla bilgi ve resimler için burayı tıklayın.</a></strong>
</div>
</td>
<td width="135px" class="RealEstateContentCell" valign="top">
<div class="Normal">
<strong >[CAPTION:Fiyat]: </strong> [CUSTOM:Fiyat] [CUSTOM:ParaBirimi]<br />
<table width="100%">
<tr>
<td width="20px" align="right"><span class="NormalBold">[CUSTOM:YatakOdasi]</span></td>
<td width="25px" class="bed"></td>
<td width="20px" align="right"><span class="NormalBold">[CUSTOM:Otopark]</span></td>
<td width="25px" class="car"></td>
<td width="20px" align="right"><span class="NormalBold">[CUSTOM:Banyo]</span></td>
<td width="25px" class="bath"></td>
</tr>
</table>
</div>
</td>
</tr>
</table>
</td>
</tr>
</table>
<hr />
</div>
</div>
</div>
</div>
</td>
</tr>
</table>
</td>
</tr>
</table>