zzxxzCU [CURRENTUSERID] - [PHOTOCOUNT][ISNOTFEATURED]YES[/ISNOTFEATURED]
<br /><br />

[HASNORATING]YESRATING[/HASNORATING]
[ISNOTINROLE:Subscribers]ROCKET[/ISNOTINROLE:Subscribers][EDIT]<span class="CardLink" class="CardLink"><a href="[LINK]">[HASVALUE:TITLE]XXX[/HASVALUE:TITLE][CUSTOM:TITLE]</a></span>
[CUSTOMLIST:PRICERANGE] - [CUSTOM:Upload]
<br /><br />
[RATING] - [POSTRATING]
[PHOTOS]
[MAP]
[COMMENTFORMRATING]

[HASCOMMENTS]
		[COMMENTS]	<br /><br />	[/HASCOMMENTS]

[EXPRESSIONTYPE:!=:item]QWERTYSlipper..OKOK[/EXPRESSIONTYPE:!=:item]

[EXPRESSIONTYPEID:=:38]Slipper..OKOK[/EXPRESSIONTYPEID:=:38]