################################################################################
# Il file gitignore è stato creato automaticamente da Microsoft(R) Visual Studio.
################################################################################

/Backup
/bin
/obj
/packages
/Providers/DataProviders/SqlDataProvider/bin
/Providers/DataProviders/SqlDataProvider/obj
/UpgradeLog5.htm
/UpgradeLog4.htm
/UpgradeLog3.htm
/UpgradeLog2.htm
/UpgradeLog.htm
/SyncfusionTroubleshooterErrors.log
/Ventrian.PropertyAgent.v12.suo
/Ventrian.PropertyAgent.v11.suo
/Ventrian.PropertyAgent.v11.suo
/Ventrian.PropertyAgent.v11.suo
*.config
/.vs/Ventrian.PropertyAgent/v14
/.vs/Ventrian.PropertyAgent/v15
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/Libraries/Dotnetnuke942.zip
/Installs/PropertyAgent.01.10.00_DNN742_to_DNN932_Install
/Libraries/DotNetNuke.Abstractions.dll
/Libraries/Dotnetnuke943.zip
/.vs/PropertyAgentSource/v16/.suo
/.vs/Ventrian.PropertyAgent/v16/Server/sqlite3
/.vs/Ventrian.PropertyAgent/v16/.suo
/.vs/Ventrian.PropertyAgent/v17/.suo
/.vs/Ventrian.PropertyAgent/v17/fileList.bin
/.vs/Ventrian.PropertyAgent/project-colors.json
