<table class="FindAnAttorneyTableListingsAlt" cellspacing="1" cellpadding="3" width="100%" border="0">
  <tr>
    <td width="100" align="center" valign="middle" class="FindAnAttorneyTableListingsAlt"><table class="photo-frame" align="center" id="Table1">
      <tr>
        <td class="topx--"></td>
        <td class="top-x-"></td>
        <td class="top--x"></td>
      </tr>
      <tr>
        <td class="midx--"></td>
        <td valign="top"><a href="[LINK]" title="[CUSTOM:FirmName] - [CUSTOM:PracticeAreas]"><img src="[PHOTOLINKSMALL]" class="photo_198" width="[PHOTOWIDTHSMALL]" height="[PHOTOHEIGHTSMALL]" alt="[CUSTOM:Title]" /></a></td>
        <td class="mid--x"></td>
      </tr>
      <tr>
        <td class="botx--"></td>
        <td class="bot-x-"></td>
        <td class="bot--x"></td>
      </tr>
    </table></td>
    <td width="1104" align="left" valign="middle" class="FindAnAttorneyTableListingsAlt"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td>[EDIT] <span class="FindAnAttorneyCity"><a href="[LINK]" title="[CUSTOM:FirmName]">[CUSTOM:FirmName]</a></span></td>
      </tr>
      <tr>
        <td><hr style="color:#CCCCCC;" /></td>
      </tr>
      <tr>
        <td><span class="FindAnAttorneyCity">[TYPE], [CUSTOM:PracticeAreas]</span></td>
      </tr>
      <tr>
        <td>[CUSTOM:BriefDescription:75]</td>
      </tr>
    </table></td>
  </tr>
</table>
