<table cellspacing="1" cellpadding="1" width="100%" border="0">
  <tr>
    <td width="125" align="center" valign="middle" class="FindAnAttorneyTableListingsAlt"><table class="photo-frame" align="center" id="Table1">
      <tr>
        <td class="topx--"></td>
        <td class="top-x-"></td>
        <td class="top--x"></td>
      </tr>
      <tr>
        <td class="midx--"></td>
        <td valign="top"><a href="[LINK]" title="[CUSTOM:FirmName] - [CUSTOM:PracticeAreas]"><img src="[PHOTOLINKSMALL]" class="photo_198" width="[PHOTOWIDTHSMALL]" height="[PHOTOHEIGHTSMALL]" alt="[CUSTOM:Title]" /></a></td>
        <td class="mid--x"></td>
      </tr>
      <tr>
        <td class="botx--"></td>
        <td class="bot-x-"></td>
        <td class="bot--x"></td>
      </tr>
    </table></td>
    <td width="2000" align="left" valign="middle">
	<div class="FALabel1">[EDIT]<span class="FindAnAttorneyCity"><a href="[LINK]" title="[CUSTOM:FirmName]">[CUSTOM:FirmName]</a></span></div>
	<div class="FALabel2">[TYPE], [CUSTOM:PracticeAreas]</div>
	<div class="FALabel2">[CUSTOM:BriefDescription:75]</div>
	<div class="FALabel2"><strong>Ratings: </strong>[RATINGCOUNT] <strong>Comments:</strong> [COMMENTCOUNT]</div>
	</td>
  </tr>
</table>