<table border="0" cellpadding="0" cellspacing="0" class="album-frame" ID="Table1">
<tr>
	<td class="topx----"><img src="[TEMPLATEPATH]Images/Borders/album-l1.gif" border="0"></td>
	<td class="top-x---"><img src="[TEMPLATEPATH]Images/Borders/album-mtl.gif" border="0"></td>
	<td class="top--x--"></td>
	<td class="top---x-"><img src="[TEMPLATEPATH]Images/Borders/album-mtr.gif" border="0"></td>
	<td class="top----"><img src="[TEMPLATEPATH]Images/Borders/album-r1.gif" border="0"></td>
</tr>
<tr>
	<td class="mtpx----"><img src="[TEMPLATEPATH]Images/Borders/album-l2.gif" border="0"></td>
	<td colspan="3" rowspan="3" align="center"><a href="[PHOTOLINKLARGE]" rel="lightbox[PROPERTY]" title="[PHOTOTITLE]"><img src="[PHOTOLINKMEDIUM]" class="photo_198" alt="" width="[PHOTOWIDTHMEDIUM]" height="[PHOTOHEIGHTMEDIUM]" /></a></td>
	<td class="mtp----x"><img src="[TEMPLATEPATH]Images/Borders/album-r2.gif" border="0"></td>
</tr>
<tr>
	<td class="midx----"></td>
	<td class="mid----x"></td>
</tr>
<tr>
	<td class="mbtx----"><img src="[TEMPLATEPATH]Images/Borders/album-l3.gif" border="0"></td>
	<td class="mbt----x"><img src="[TEMPLATEPATH]Images/Borders/album-r3.gif" border="0"></td>
</tr>
<tr>
	<td class="botx----"><img src="[TEMPLATEPATH]Images/Borders/album-l4.gif" border="0"></td>
	<td class="bot-x---"><img src="[TEMPLATEPATH]Images/Borders/album-mbl.gif" border="0"></td>
	<td class="bot--x--"></td>
	<td class="bot---x-"><img src="[TEMPLATEPATH]Images/Borders/album-mbr.gif" border="0"></td>
	<td class="bot----x"><img src="[TEMPLATEPATH]Images/Borders/album-r4.gif" border="0"></td>
</tr>
</table>