<div class="FALabel2"></div>
<div align="left" class="ExeProfile">[EDIT]ATTORNEY PROFILE: [CUSTOM:LastName], [CUSTOM:FirstName]</div>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="50%" valign="top"><br />
	<div class="FALabel1">CONTACT INFO:</div>
	<div class="FALabel2"><strong>[CUSTOM:LastName], [CUSTOM:FirstName] Attorney At Law<br />
          [CUSTOM:PracticeAreas]</strong><br />
          [CUSTOM:LawSchool]<br />
          <br />
          <br />		  
	<div class="FALabel1">COMPANY INFO:</div>	  
          <strong>[CUSTOM:FirmName]</strong><br />
          [CUSTOM:StreetAddress], [CUSTOM:UnitNumber]<br />
          [CUSTOM:County] - [CUSTOM:City], <span class="Custom">[TYPE]</span>[CUSTOM:PostalCode]<br />
          <br />
          <span class="Custom"><strong>Telephone:</strong> ([CUSTOM:AreaCode]) [CUSTOM:Telephone]</span><br />
          <span class="Custom"><strong>Fax Line:</strong> ([CUSTOM:AreaCodeFax]) [CUSTOM:FaxNumber]</span><br />
          <br />
          <strong>[CAPTION:PaymentAccepted]:</strong> [CUSTOM:PaymentAccepted]<br />
          <strong>[CAPTION:Languages]:</strong> [CUSTOM:Languages]<br />
          <strong>[CAPTION:IMID]:</strong> [CUSTOM:IMID]<br />
          <strong>[CAPTION:Website]:</strong> <a href="Http://[CUSTOM:Website]" title="[CUSTOM:FirmName]" target="_blank">[CUSTOM:Website]</a><a href="[CUSTOM:Website]" target="_blank"></a></div><br />
	<div class="FALabel2"></div></td>
    <td width="50%">
	      <div align="center" class="FALabel2">[RATING]</div>
		  <div align="center" class="FALabel2">[PHOTOS]</div>
		  </td>
  </tr>
  <tr>
    <td valign="top">
	    <div class="FALabel1">[CAPTION:DetailedDescription]</div>
		<div class="DetailBIO">[CUSTOM:DetailedDescription]</div></td>
    <td><div class="FALabel1">Comments</div>
		<div class="DetailBIO">[COMMENTFORM]</div></td>
  </tr>
</table>