<table cellpadding="4" cellspacing="0">
<tr>
<td>
<table class="photo-frame" align="center">
<tr>
<td class="topx--"></td>
<td class="top-x-"></td>
<td class="top--x"></td>
</tr>
<tr>
<td class="midx--"></td>
<td valign="top" width="125" align="center"><img src="[PHOTOLINKSMALL]" border="0" class="photo_198" width="[PHOTOWIDTHSMALL]" height="[PHOTOHEIGHTSMALL]"><br /></td>
<td class="mid--x"></td>
</tr>
<tr>
<td class="botx--"></td>
<td class="bot-x-"></td>
<td class="bot--x"></td>
</tr>
</table>
</td>
<td valign="top" class="normal">
[EDIT]
<span class="CardLink" class="CardLink"><a href="[LINK]">[CUSTOM:TITLE]</a></span><br />
<b>Sport:</b> [TYPE]<br />
[CUSTOMFIELDSLISTING]
[HASDISTANCE]<b>Distance to Stadium: </b> [DISTANCE] kms[/HASDISTANCE]
</td>
</tr>
</table>