<table>
<tr>
	<td width="140px">
		<table class="photo-frame" align="center" ID="Table1">
		<tr>
			<td class="topx--"></td>
			<td class="top-x-"></td>
			<td class="top--x"></td>
		</tr>
		<tr>
			<td class="midx--"></td>
			<td valign="top"><a href="[LINK]"><img src="[PHOTOLINKSMALL]" class="photo_198" width="[PHOTOWIDTHSMALL]" height="[PHOTOHEIGHTSMALL]" alt=""></a></td>
			<td class="mid--x"></td>
		</tr>
		<tr>
			<td class="botx--"></td>
			<td class="bot-x-"></td>
			<td class="bot--x"></td>
		</tr>
		</table>
	</td>
	<td width="160px" valign="top">
		<div class="Normal">
			[EDIT]
			<span class="RealEstateCity">[CUSTOM:SUBURB], [CUSTOM:STATE]</span><br />
			<span class="RealEstateLink" class="RealEstateLink"><a href="[LINK]">[CUSTOM:TITLE]</a></span><br />
			<b>[CUSTOM:Introduction]</b><br />
			<a href="[LINK]" class="arrowLink">Full details</a>
		</div>
	</td>
</tr>
</table>
