<table style="border: 0px; border-spacing: 0px; margin: 0px 10px; vertical-align: middle;">
    <tbody>
        <tr style="height: 115px;">
            <td>
            <div style="vertical-align: bottom; text-align: center;"><a href="[LINK]"><img alt="" src="[PHOTOLINKSMALL]px" width="150px" height="120px" /></a></div>
            </td>
        </tr>
        <tr>
            <td style="background-color: #448336; text-align: center; vertical-align: middle;">
            <span style="color: white;"><strong>[CUSTOM:TITLE:18]...<br />
            [CUSTOM:PRICE:20]</strong></span>
            </td>
        </tr>
    </tbody>
</table>