<a href="/Listing/ViewAd/tabid/87/agentType/View/PropertyID/[PROPERTYID]/Default.aspx" style="color: black;">
<div class="searchResultsHighlight" style="border-width: 1px 1px 0px 1px; border-style: solid; border-color: #cccccc; padding: 5px; font-family: verdana; font-size: 12px;">
<table width="100%" border="0">
    <tbody>
        <tr>
            <td class="propertyAgentImage" style="width: 150px; height: 125px;"><div style="text-align: center;"><img alt="" src="[PHOTOLINKSMALL]" /></div>
            </td>
            <td valign="top" style="padding-left: 15px;">
            <table border="0" width="100%">
                <tbody>
                    <tr>
                        <td>
                        <span style="font-size: 1.2em;"><strong>[CUSTOM:TITLE]</strong></span>
                        </td>
                        <td>
                        <td align="right" style="padding-right: 15px; padding-left: 15px;><span style="color: black; font-size: 1.2em;"><strong>[CUSTOM:PRICE]</strong></span></td>
                    </tr>
                    <tr>
                        <td colspan="3"><span style="font-size: 0.75em; color: gray;">[CUSTOM:CATEGORY] - [CUSTOM:SUBCATEGORY] | [CUSTOM:PROVINCE]</span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">[CUSTOM:SHORTDESCRIPTION]</td>
                    </tr>
                </tbody>
            </table>
            </td>
        </tr>
    </tbody>
</table>
</div>
</a>