<table class="photo-frame" align="center">
    <tbody>
        <tr>
            <td></td>
            <td style="height: 15px;"></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td valign="top" class="propertyAgentImage"><a href="[PHOTOLINKLARGE]" rel="lightbox[PROPERTY]" title="[PHOTOTITLE]"><img alt="" src="[PHOTOLINKSMALL]" class="photo_198" width="[PHOTOWIDTHSMALL]px" height="[PHOTOHEIGHTSMALL]px" /></a></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>