<table style="border: 0px solid #cccccc; padding: 0px; background-color: white; width: 100%; font-family: verdana; font-size: 13px;">
    <tbody>
        <tr>
            <td style="padding: 15px;">
            <h4 class="cufon">[CUSTOM:TITLE]
            </h4>
            </td>
            <td style="padding: 15px;">
            <div style="text-align: right;"><a href="/Snuffelblad.aspx" class="propertyAgentButton">Terug na Soektog</a></div>
            </td>
        </tr>
        <tr>
            <td style="padding: 33px; width: 40%; text-align: left; vertical-align: top;">[PHOTOS]
            </td>
            <td style="text-align: left; vertical-align: top; width: 60%;">
            <br />
            <table style="width: 100%;">
                <tbody>
                    <tr>
                        <td style="width: 20%;">Datum Geplaas:</td>
                        <td style="width: 5%;">&nbsp;</td>
                        <td style="width: 75%;"><span style="color: #000000;">&nbsp;<strong>[DATECREATED:dd MMM yyyy]</strong></span></td>
                    </tr>
                    <tr>
                        <td>Prys:</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;<strong><span style="color: #000000;">[CUSTOM:PRICE]</span></strong></td>
                    </tr>
                    <tr>
                        <td>Ligging:</td>
                        <td>&nbsp;</td>
                        <td><span style="color: #ffc000;">&nbsp;</span><strong><span style="color: #000000;">[CUSTOM:PROVINCE],&nbsp;<strong>[CUSTOM:AREA]&nbsp;</strong></span></strong></td>
                    </tr>
                    <tr>
                        <td>Kontak:</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;<span><strong><span style="color: #000000;">[DISPLAYNAME]</span></strong></span></td>
                    </tr>
                    <tr>
                        <td>Seller Type:</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;<strong><span style="color: #000000;">[CUSTOM:SELLERTYPE]</span></strong></td>
                    </tr>
                    <tr>
                        <td>Verkoper Tipe:<br />
                        </td>
                        <td>&nbsp;</td>
                        <td>&nbsp;<strong><span style="color: #000000;">[CUSTOM:ADTYPE]</span></strong></td>
                    </tr>
                    <tr>
                        <td>Kategorie:</td>
                        <td>&nbsp;</td>
                        <td><span style="color: #000000;">&nbsp;<strong>[CUSTOM:CATEGORY], [CUSTOM:SUBCATEGORY]</strong></span></td>
                    </tr>
                    <tr>
                        <td colspan="3"><span>[CUSTOM:LONGDESCRIPTION]&nbsp;</span></td>
                    </tr>
                </tbody>
            </table>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="border-top-width: 1px; border-top-style: solid; border-top-color: #cccccc;">&nbsp;</td>
        </tr>
        <tr>
            <td style="padding: 15px; width: 40%; text-align: left; vertical-align: top;" colspan="2">
            <h4 class="cufon">Antwoord op die Advertensie</h4>
            </td>
        </tr>
        <tr>
            <td style="padding: 15px; width: 40%; text-align: left; vertical-align: top;"><span style="color: #000000; font-size: small; font-family: verdana; line-height: 18px;">[CONTACTFORM]</span><br />
            </td>
            <td style="padding: 15px; width: 60%; text-align: left; vertical-align: top;"><span style="font-family: verdana; font-size: 13px; line-height: 18px;">[MAP]</span><br />
            </td>
        </tr>
    </tbody>
</table>