<table width="100%" border="0" cellspacing="0" cellpadding="4" class="Normal">
  <tr>
    <td colspan="3">[EDIT]<span class="Property_title">[CUSTOM:TITLE] [CUSTOM:BEDROOMS] Bedroom [CUSTOM:BATHROOMS] Bathrooms ([CUSTOM:Rent])</span></td>
  </tr>

  <tr>
    <td colspan="2" valign="top"><span class="property_heading">Property Description</span><br />
     [CUSTOM:Description]
      </td>
    <td width="25%" rowspan="2" valign="top" nowrap="nowrap"><span class="property_heading">Location</span><br />

      <span class="style1">[CUSTOM:Address]<br /> 
    [CUSTOM:City], [CUSTOM:State] [CUSTOM:ZIP]<br /></span>
   <br /> 
    <span class="property_heading">Contact Info</span><br />

      <span class="style1">[CUSTOM:Owner]<br />
      [CUSTOM:Phone]<br /> 
    <a href="mailto:[CUSTOM:Email]">[CUSTOM:Email]</a> <br /></span>
    
    
     
      <br />
      <span class="property_heading">Action Center</span><br />
      <a href="mailto:[CUSTOM:Email]"><img src="[TEMPLATEPATH]email.gif" width="16" height="16" border="0" /></a>&nbsp;<a href="mailto:[CUSTOM:Email]">Contact Landlord</a><br />
     
  <!--   [PRINT]&nbsp;<span class="style1"><a href="[PRINTLINK]" target="new">Print Listing</a></span><br />-->
     
       <a href="http://maps.google.com/maps?q=[CUSTOM:Address],+[CUSTOM:City],+[CUSTOM:State],+[CUSTOM:ZIP],+USA" target="new"><img src="[TEMPLATEPATH]map.jpg" alt="" width="16" height="16" border="0" /></a>&nbsp;<a href="http://maps.google.com/maps?q=[CUSTOM:Address],+[CUSTOM:City],+[CUSTOM:State],+[CUSTOM:ZIP],+USA" target="new">View Map</a><br />
       
       <a href="javascript:mailpage()"><img src="[TEMPLATEPATH]email.gif" width="16" height="16" border="0" /></a>&nbsp;<a href="javascript:mailpage()">Send To Friend</a><br />
    </p></td>
  </tr>
  <tr>
    <td valign="top"><p><span class="property_heading">Property Information</span><br />
        <strong>Type:</strong> [TYPE]<br />
        <strong>Bedrooms:</strong> [CUSTOM:Bedrooms]<br />
        <strong>Bathrooms: </strong>[CUSTOM:Bathrooms]</p>
      <p><span class="property_heading">Interior</span><br />
      [CUSTOM:Interior]</p>
      <p>[CUSTOM:Amenities]<br />
      </p></td>
    <td valign="top"> <p><span class="property_heading">Price</span><br />
      <strong>Rent:</strong>    [CUSTOM:Rent]</p>
    <p><strong>Utilities Included:</strong><br />
    [CUSTOM:Owner Pays]</p>
    <p><strong>Policies:</strong><br />
[CUSTOM:Policies]</td>
  </tr>
  <tr>
    <td colspan="3"><div align="center">[PHOTOS]</div> </td>
  </tr>
  <tr>
    <td colspan="3">&nbsp;</td>
  </tr>
</table>

