<div class="clearfix p5">
  <div class="leftfloat w80 p5 photo">[ISREGISTERED]<a href="/users/asuid/[USERID].aspx" target="_blank">[/ISREGISTERED][ISANONYMOUS]<a href="[WEBSITE]" target="_blank">[/ISANONYMOUS]<img src="/ProfileImageHandler.ashx?asuid=[USERID]&asimgsize=75" width="50px" alt="[NAME]" /></a></div>
  <div class="leftfloat min80 max80">
    <div class="rightfloat p5">[DELETE]</div>
    <h5 class="p5 bgblue"><a href="#Comment-[COMMENTID]"><span class="icon comment"></span>#[COMMENTID]</a> by [ISANONYMOUS]<a href="[WEBSITE]">[/ISANONYMOUS][ISREGISTERED]<a href="/users/asuid/[USERID].aspx" target="_blank">[/ISREGISTERED][NAME]</a> <span class="small">[CREATEDATE:MMM dd, yyyy]</span></h4>
	<p class="p5"><a href="MailTo:[EMAIL]"><span class="icon msgreply"></span>[EMAIL]</a></p>
    <p>[COMMENT]</p>
  </div>
</div>
