[ISFEATURED]
<div class="featured m5">[/ISFEATURED]
  [ISNOTFEATURED]
  <div class="box-alt">[/ISNOTFEATURED][HASVALUE:URL]
    <div class="photo txtctr w130"> <a href="[LINK]">[HASIMAGES]<img src="[PHOTOLINKMEDIUM]" alt="[CUSTOM:TITLE]" />[/HASIMAGES][HASNOIMAGES]<img src="http://images.w3snapshot.com/?size=s&key=f852b4046ee75f0adaa47e986dc91f95&url=[CUSTOM:URL]" />[/HASNOIMAGES]</a></div>
    [/HASVALUE:URL]
    <div class="leftfloat min75 max75">
      <div class="rightfloat">
        <ul class="aslist">
          <li>[RATINGAVG]</li>
          <li><span class="icon topic"></span>[TYPE]</li>
          <li><span class="icon balloon"></span>[REVIEWCOUNT] reviews</li>
          <li><span class="icon check"></span>[HITS] views</li>
          [ISINROLE:Registered Users]
          <li><span class="icon note"></span>[SHORTLIST]</li>
          [/ISINROLE:Registered Users]
        </ul>
      </div>
      <h4>[EDIT] [ISFEATURED]<span class="icon star"></span>[/ISFEATURED]<a href="[LINK]">[CUSTOM:TITLE]</a> <em class="small">[DATEPUBLISHED]</em></h4>
      <ul class="aslist">
        [HASDISTANCE]
        <li>Distance: [DISTANCE]</li>
        [/HASDISTANCE]
        [HASVALUE:Address]
        <li>[CUSTOM:Address]</li>
        [/HASVALUE:Address]
        [HASVALUE:City][HASVALUE:Zip]
        <li>[CUSTOM:City], [CUSTOM:State], [CUSTOM:Zip]</li>
        [/HASVALUE:Zip][/HASVALUE:City]
      </ul>
    </div>
    [ISNOTFEATURED]</div>
  [/ISNOTFEATURED]
  [ISFEATURED]</div>
[/ISFEATURED]
<div class="advert">
<script type="text/javascript"><!--
google_ad_client = "ca-pub-3908494547653618";
/* neok-directory-468x60 */
google_ad_slot = "7045688358";
google_ad_width = 468;
google_ad_height = 60;
//-->
</script>
<script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
</div>