[ISFEATURED]
<div class="featured m5">[/ISFEATURED]
  [ISNOTFEATURED]
  <div class="box">[/ISNOTFEATURED]
    <div class="photo txtctr w130"> <a href="[LINK]">[HASIMAGES]<img src="[PHOTOLINKMEDIUM]" alt="[CUSTOM:TITLE]" />[/HASIMAGES][HASVALUE:URL][HASNOIMAGES]<img src="http://images.w3snapshot.com/?size=s&key=f852b4046ee75f0adaa47e986dc91f95&url=[CUSTOM:URL]" />[/HASNOIMAGES][/HASVALUE:URL]</a></div>
    <div class="leftfloat min75 max75">
      <div class="rightfloat">
        <ul class="aslist">
          <li>[RATINGAVG]</li>
          <li><span class="icon topic"></span>[TYPE]</li>
          <li><span class="icon balloon"></span>[REVIEWCOUNT] reviews</li>
          <li><span class="icon check"></span>[HITS] views</li>
          [ISINROLE:Registered Users]
          <li><span class="icon note"></span>[SHORTLIST]</li>
          [/ISINROLE:Registered Users]
        </ul>
      </div>
      <h4>[EDIT] [ISFEATURED]<span class="icon star"></span>[/ISFEATURED]<a href="[LINK]">[CUSTOM:TITLE]</a> <em class="small">[DATEPUBLISHED]</em></h4>
      <ul class="aslist">
        [HASDISTANCE]
        <li>Distance: [DISTANCE]</li>
        [/HASDISTANCE]
        [HASVALUE:Address]
        <li>[CUSTOM:Address]</li>
        [/HASVALUE:Address]
        [HASVALUE:City][HASVALUE:Zip]
        <li>[CUSTOM:City], [CUSTOM:State], [CUSTOM:Zip]</li>
        [/HASVALUE:Zip][/HASVALUE:City]
      </ul>
    </div>
    [ISNOTFEATURED]</div>
  [/ISNOTFEATURED]
  [ISFEATURED]</div>
[/ISFEATURED] 