<ul class="tools">
  [HASADDPROPERTY]
  <li><span class="icon plus-button"></span>[ADDPROPERTY]</li>
  [/HASADDPROPERTY]
  [HASPROPERTYMANAGER]
  <li><span class="icon gear"></span>[PROPERTYMANAGER]</li>
  [/HASPROPERTYMANAGER]
  <li>[RSS]</li>
</ul>
<div class="clearfix"></div>
[ISNOTINROLE:Registered Users]
<p class="p5">Becoming the most comprehensive and complete directory for Northeast Oklahoma also covering the Four State region. Our directory consists of local businesses, companies, retail shops, area attractions, and other interests found only in our region, providing contact information, addresses, maps, reviews and ratings. Submit your own reviews on businesses, clubs, schools, parks, casinos, and more. All found right here in Northeast Oklahoma and the four state area.</p>
[/ISNOTINROLE:Registered Users] 