<div class="rightfloat large txtgrn p5"><em class="small txtdrk">overall:</em> [FIELD:RATING] stars</div>
<h5 class="p5 bgblue">[DELETE] <a name="#Review-[REVIEWID]">"[FIELD:Title]"</a> <span class="small"><em>[CREATEDATE:MMM dd, yyyy]</em></span></h5>
<div class="leftfloat w80 p5">
  <div class="divcenter photo w60"> <img src="/DesktopModules/ActiveSocial/profilepic.ashx?PortalId=0&amp;uid=[USERID]&amp;h=50&amp;w=50" alt="[DISPLAYNAME]" title="[DISPLAYNAME]" /></div>
  <h6 class="txtctr normal"><a href="/user/[DISPLAYNAME]">[DISPLAYNAME]</a></h6>
</div>
<div class="leftfloat min80 max80 p5 more">
    [HASFIELD:Likes]
    <p><strong class="txtblue large">Likes:</strong> [FIELD:Likes]</p>
    [/HASFIELD:Likes]
    [HASFIELD:Dislikes]
    <p><strong class="txtblue large">Dislikes:</strong> [FIELD:Dislikes]</p>
    [/HASFIELD:Dislikes]
    [HASFIELD:Thoughts]
    <p><strong class="txtblue large">Thoughts:</strong> [FIELD:Thoughts]</p>
    [/HASFIELD:Thoughts] </div>
<div class="clearfix"></div>