<ul>
  <li class="clearfix content">
    <div class="leftfloat SubHead txtrt p5 w80">Category:</div>
    <div class="leftfloat">[TYPE]</div>
    <div class="leftfloat SubHead txtrt p5 w100">[CAPTION:CITY]:</div>
    <div class="leftfloat">[CUSTOM:CITY]</div>
  </li>
  <li class="clearfix content">
    <div class="leftfloat SubHead txtrt p5 w80">[CAPTION:TITLE]:</div>
    <div class="leftfloat">[CUSTOM:TITLE]</div>
    <div class="leftfloat SubHead txtrt p5 w100">[CAPTION:STATE]:</div>
    <div class="leftfloat">[CUSTOM:STATE]</div>
  </li>
  <li class="clearfix content">
    <div class="leftfloat SubHead txtrt p5 w80"></div>
    <div class="leftfloat w200 p5 txtgrn">All Fields Optional</div>
    <div class="leftfloat SubHead txtrt p5 w100">[CAPTION:ZIP]:</div>
    <div class="leftfloat">[CUSTOM:ZIP]</div>
  </li>
</ul>
<div class="clearfix divcenter txtctr p10">[SEARCHLINK]</div>