<ul>

<li class="clearfix"> 
  <div class="leftfloat photo w35"><a href="[LINK]">[HASIMAGES]<img src="[PHOTOLINKSMALL]" alt="[CUSTOM:TITLE]" />[/HASIMAGES][HASVALUE:URL][HASNOIMAGES]<img src="http://images.w3snapshot.com/?size=t&key=f852b4046ee75f0adaa47e986dc91f95&url=[CUSTOM:URL]" />[/HASNOIMAGES][/HASVALUE:URL]</a></div>
  <div class="leftfloat min80 max80">
    <div class="aslist rightfloat">[SHORTLIST]</div>
    <h5 class="normal"><a href="[LINK]">[CUSTOM:TITLE]</a></h5>
  </div>
</li>

</ul>
<a href="#" class="rightfloat journalbtn"><span class="icon note"></span>Saved Listings</a>

<p>You don't have any Directory Listings saved yet.</p>