<tr>
<td>[Custom:ChargeDate]</td>
<td>[Custom:Time]</td>
<td>[EDIT][ISINROLE:Administrators]<a href="[link]" class="btn">¥[Custom:Total]</a>[/ISINROLE:Administrators][ISNOTINROLE:Administrators]¥[Custom:Total][/ISNOTINROLE:Administrators]</td>                  
<td>[HASNOVALUE:Starting]Starting Road Names[/HASNOVALUE:Starting]
	
	[HASBROKER]Doto Expressway | 道東自動車道[/HASBROKER]
		[EXPRESSION:Starting:=:千歳東]Chitose Higashi[/EXPRESSION:Starting:=:千歳東]
		[EXPRESSION:Starting:=:追分町]Oiwake Cho[/EXPRESSION:Starting:=:追分町]
		[EXPRESSION:Starting:=:夕張]Yubari[/EXPRESSION:Starting:=:夕張]
		[EXPRESSION:Starting:=:むかわ穂別]Mukawa Hobetsu[/EXPRESSION:Starting:=:むかわ穂別]
		[EXPRESSION:Starting:=:占冠]Shimukappu[/EXPRESSION:Starting:=:占冠]
		[EXPRESSION:Starting:=:トマム]Tomamu[/EXPRESSION:Starting:=:トマム]
		[EXPRESSION:Starting:=:十勝清水]Tokachi Shimizu[/EXPRESSION:Starting:=:十勝清水]
		[EXPRESSION:Starting:=:芽室]Memuro[/EXPRESSION:Starting:=:芽室]
		[EXPRESSION:Starting:=:帯広ＪＣＴ]Obihiro JCT[/EXPRESSION:Starting:=:帯広ＪＣＴ]
		[EXPRESSION:Starting:=:音更帯広]Otofuke Obihiro[/EXPRESSION:Starting:=:音更帯広]
		[EXPRESSION:Starting:=:池田(道東自動車道)]Ikeda[/EXPRESSION:Starting:=:池田(道東自動車道)]
		[EXPRESSION:Starting:=:本別]Honbetsu[/EXPRESSION:Starting:=:本別]
		[EXPRESSION:Starting:=:足寄]Ashoro[/EXPRESSION:Starting:=:足寄]																																													
		
	[HASBROKER]Hokkaido Expressway | 道央自動車道[/HASBROKER]
		[EXPRESSION:Starting:=:大沼公園]Onuma Koen[/EXPRESSION:Starting:=:大沼公園]
		[EXPRESSION:Starting:=:森]Mori[/EXPRESSION:Starting:=:森]
		[EXPRESSION:Starting:=:落部]Otoshibe[/EXPRESSION:Starting:=:落部]
		[EXPRESSION:Starting:=:八雲]Yakumo[/EXPRESSION:Starting:=:八雲]
		[EXPRESSION:Starting:=:国縫]Kunnuki[/EXPRESSION:Starting:=:国縫]
		[EXPRESSION:Starting:=:長万部]Oshamanbe[/EXPRESSION:Starting:=:長万部]
		[EXPRESSION:Starting:=:豊浦]Toyoura[/EXPRESSION:Starting:=:豊浦]
		[EXPRESSION:Starting:=:虻田洞爺湖]Abuta Touyako[/EXPRESSION:Starting:=:虻田洞爺湖]
		[EXPRESSION:Starting:=:伊達]Date[/EXPRESSION:Starting:=:伊達]
		[EXPRESSION:Starting:=:室蘭]Muroran[/EXPRESSION:Starting:=:室蘭]
		[EXPRESSION:Starting:=:登別室蘭]Nonoribetsu Muroran[/EXPRESSION:Starting:=:登別室蘭]
		[EXPRESSION:Starting:=:登別東]Noboribetsu Higashi[/EXPRESSION:Starting:=:登別東]
		[EXPRESSION:Starting:=:白老]Shiraoi[/EXPRESSION:Starting:=:白老]
		[EXPRESSION:Starting:=:苫小牧西]Tomakomai Nishi[/EXPRESSION:Starting:=:苫小牧西]
		[EXPRESSION:Starting:=:苫小牧東]Tomakomai Higashi[/EXPRESSION:Starting:=:苫小牧東]
		[EXPRESSION:Starting:=:千歳]Chitose[/EXPRESSION:Starting:=:千歳]
		[EXPRESSION:Starting:=:恵庭]Eniwa[/EXPRESSION:Starting:=:恵庭]
		[EXPRESSION:Starting:=:輪厚ＰＡ]Wattsu PA[/EXPRESSION:Starting:=:輪厚ＰＡ]
		[EXPRESSION:Starting:=:北広島]Kita Hiroshima[/EXPRESSION:Starting:=:北広島]
		[EXPRESSION:Starting:=:札幌南]Muroran[/EXPRESSION:Starting:=:札幌南]
		[EXPRESSION:Starting:=:大谷地]Ooyachi[/EXPRESSION:Starting:=:大谷地]
		[EXPRESSION:Starting:=:北郷]Kitago[/EXPRESSION:Starting:=:北郷]
		[EXPRESSION:Starting:=:札幌]Sapporo[/EXPRESSION:Starting:=:札幌]										
		[EXPRESSION:Starting:=:江別西]Ebetsu Nishi[/EXPRESSION:Starting:=:江別西]
		[EXPRESSION:Starting:=:江別東]Ebetsu Higashi[/EXPRESSION:Starting:=:江別東]
		[EXPRESSION:Starting:=:岩見沢]Iwamizawa[/EXPRESSION:Starting:=:岩見沢]	
		[EXPRESSION:Starting:=:三笠]Mikasa[/EXPRESSION:Starting:=:三笠]
		[EXPRESSION:Starting:=:美唄]Bibai[/EXPRESSION:Starting:=:美唄]										
		[EXPRESSION:Starting:=:奈井江砂川]Naiesunagawa[/EXPRESSION:Starting:=:奈井江砂川]
		[EXPRESSION:Starting:=:滝川]Takikawa[/EXPRESSION:Starting:=:滝川]
		[EXPRESSION:Starting:=:深川]Fukagawa[/EXPRESSION:Starting:=:深川]	
		[EXPRESSION:Starting:=:旭川鷹栖]Asahikawa Takasu[/EXPRESSION:Starting:=:旭川鷹栖]
		[EXPRESSION:Starting:=:旭川北]Asahikawa Kita[/EXPRESSION:Starting:=:旭川北]
		[EXPRESSION:Starting:=:比布ＪＣＴ]Pippu JCT[/EXPRESSION:Starting:=:比布ＪＣＴ]										
		[EXPRESSION:Starting:=:和寒]Wassamu[/EXPRESSION:Starting:=:和寒]
		[EXPRESSION:Starting:=:士別剣淵]Shibetsu Kenbuchi[/EXPRESSION:Starting:=:士別剣淵]

	[HASBROKER]Sasson Expressway | 札樽自動車道[/HASBROKER]
		[EXPRESSION:Starting:=:雁来]Kariki[/EXPRESSION:Starting:=:雁来]
		[EXPRESSION:Starting:=:伏古]Fushiko[/EXPRESSION:Starting:=:伏古]
		[EXPRESSION:Starting:=:札幌北]Sapporo Kita[/EXPRESSION:Starting:=:札幌北]
		[EXPRESSION:Starting:=:新川]Shinkawa[/EXPRESSION:Starting:=:新川]
		[EXPRESSION:Starting:=:札幌西]Sapporo Nishi[/EXPRESSION:Starting:=:札幌西]
		[EXPRESSION:Starting:=:手稲]Teine[/EXPRESSION:Starting:=:手稲]
		[EXPRESSION:Starting:=:銭函]Zenibako[/EXPRESSION:Starting:=:銭函]												
		[EXPRESSION:Starting:=:朝里]Asari[/EXPRESSION:Starting:=:朝里]			
		[EXPRESSION:Starting:=:小樽]Otaru[/EXPRESSION:Starting:=:小樽]							

	[HASBROKER]Hidaka Expressway | 日高自動車道[/HASBROKER]
		[EXPRESSION:Starting:=:苫小牧東]Tomakomai Higashi[/EXPRESSION:Starting:=:苫小牧東]	
		[EXPRESSION:Starting:=:沼ノ端西]Numanohata Nishi[/EXPRESSION:Starting:=:沼ノ端西]		
		
	[HASBROKER]Fukagawa Rumoi Expressway | 深川留萌自動車道[/HASBROKER]
		[EXPRESSION:Starting:=:深川西]Fukagawa Nishi[/EXPRESSION:Starting:=:深川西]	
		
	[HASBROKER]Momoishi Road | 百石道路[/HASBROKER]
		[EXPRESSION:Starting:=:八戸北]Hachinohe Kita[/EXPRESSION:Starting:=:八戸北]
		[EXPRESSION:Starting:=:下田百石]Shimodamomoishi[/EXPRESSION:Starting:=:下田百石]			
		
	[HASBROKER]Aomori Expressway | 青森自動車道[/HASBROKER]
		[EXPRESSION:Starting:=:青森中央]Aomori Chuo[/EXPRESSION:Starting:=:青森中央]
		[EXPRESSION:Starting:=:青森東]Aomori Higashi[/EXPRESSION:Starting:=:青森東]		
		
	[HASBROKER]Hachinohe Expressway | 八戸自動車道[/HASBROKER]
		[EXPRESSION:Starting:=:浄法寺]Joubouji[/EXPRESSION:Starting:=:浄法寺]	
		[EXPRESSION:Starting:=:一戸]Ichinohe[/EXPRESSION:Starting:=:一戸]	
		[EXPRESSION:Starting:=:九戸]Kunohe[/EXPRESSION:Starting:=:九戸]	
		[EXPRESSION:Starting:=:軽米]Karumai[/EXPRESSION:Starting:=:軽米]	
		[EXPRESSION:Starting:=:南郷(八戸自動車道)]Nango[/EXPRESSION:Starting:=:南郷(八戸自動車道)]									
		
	[HASBROKER]Akita Expressway | 秋田自動車道[/HASBROKER]
		[EXPRESSION:Starting:=:北上西]Kitakami Nishi[/EXPRESSION:Starting:=:北上西]
		[EXPRESSION:Starting:=:湯田]Yuda[/EXPRESSION:Starting:=:湯田]
		[EXPRESSION:Starting:=:横手]Yokote[/EXPRESSION:Starting:=:横手]
		[EXPRESSION:Starting:=:大曲]Omagari[/EXPRESSION:Starting:=:大曲]
		[EXPRESSION:Starting:=:西仙北ＳＡ]Nishi Senboku SA[/EXPRESSION:Starting:=:西仙北ＳＡ]
		[EXPRESSION:Starting:=:協和]Kyouwa[/EXPRESSION:Starting:=:協和]
		[EXPRESSION:Starting:=:秋田南]Akita Minami[/EXPRESSION:Starting:=:秋田南]
		[EXPRESSION:Starting:=:秋田中央]Akita Chuo[/EXPRESSION:Starting:=:秋田中央]
		[EXPRESSION:Starting:=:秋田北]Akita Kita[/EXPRESSION:Starting:=:秋田北]
		[EXPRESSION:Starting:=:昭和男鹿半島]Shouwa Ogahanto[/EXPRESSION:Starting:=:昭和男鹿半島]
		[EXPRESSION:Starting:=:五城目八郎潟]Gojoume Hachirougata[/EXPRESSION:Starting:=:五城目八郎潟]
		[EXPRESSION:Starting:=:琴丘森岳]Kotookamoritake[/EXPRESSION:Starting:=:琴丘森岳]
		[EXPRESSION:Starting:=:八竜]Hachiryu[/EXPRESSION:Starting:=:八竜]
		
	[HASBROKER]Kamaishi Expressway | 釜石自動車道[/HASBROKER]
		[EXPRESSION:Starting:=:花巻空港]Hanamaki Airport[/EXPRESSION:Starting:=:花巻空港]
		[EXPRESSION:Starting:=:東和]Towa[/EXPRESSION:Starting:=:東和]

	[HASBROKER]Tohoku Expressway | 東北自動車道[/HASBROKER]
		[EXPRESSION:Starting:=:浦和]Urawa[/EXPRESSION:Starting:=:浦和]
		[EXPRESSION:Starting:=:岩槻]Iwatsuki[/EXPRESSION:Starting:=:岩槻]
		[EXPRESSION:Starting:=:蓮田ＳＡ]Hasuda SA[/EXPRESSION:Starting:=:蓮田ＳＡ]
		[EXPRESSION:Starting:=:久喜]Kuki[/EXPRESSION:Starting:=:久喜]
		[EXPRESSION:Starting:=:加須]Kazo[/EXPRESSION:Starting:=:加須]
		[EXPRESSION:Starting:=:羽生]Hanyu[/EXPRESSION:Starting:=:羽生]
		[EXPRESSION:Starting:=:館林]Tatebayashi[/EXPRESSION:Starting:=:館林]
		[EXPRESSION:Starting:=:佐野藤岡]Sano Fujioka[/EXPRESSION:Starting:=:佐野藤岡]
		[EXPRESSION:Starting:=:佐野ＳＡ]Sano SA[/EXPRESSION:Starting:=:佐野ＳＡ]
		[EXPRESSION:Starting:=:栃木]Tochigi[/EXPRESSION:Starting:=:栃木]
		[EXPRESSION:Starting:=:鹿沼]Kanuma[/EXPRESSION:Starting:=:鹿沼]
		[EXPRESSION:Starting:=:宇都宮]Utsunomiya[/EXPRESSION:Starting:=:宇都宮]
		[EXPRESSION:Starting:=:上河内ＳＡ]Kamikawauchi SA[/EXPRESSION:Starting:=:上河内ＳＡ]
		[EXPRESSION:Starting:=:矢板]Yaita[/EXPRESSION:Starting:=:矢板]
		[EXPRESSION:Starting:=:西那須野塩原]Nishi Nasunoshiobara[/EXPRESSION:Starting:=:西那須野塩原]
		[EXPRESSION:Starting:=:黒磯板室]Kuroiso Itamuro[/EXPRESSION:Starting:=:黒磯板室]
		[EXPRESSION:Starting:=:那須]Nasu[/EXPRESSION:Starting:=:那須]
		[EXPRESSION:Starting:=:那須高原ＳＡ]Utsunomiya[/EXPRESSION:Starting:=:那須高原ＳＡ]
		[EXPRESSION:Starting:=:宇都宮]Nasukogen SA[/EXPRESSION:Starting:=:宇都宮]
		[EXPRESSION:Starting:=:白河]Shirakawa[/EXPRESSION:Starting:=:白河]
		[EXPRESSION:Starting:=:白河中央スマート]Shirakawa Chuo Smart[/EXPRESSION:Starting:=:白河中央スマート]
		[EXPRESSION:Starting:=:矢吹]Yabuki[/EXPRESSION:Starting:=:矢吹]
		[EXPRESSION:Starting:=:鏡石ＰＡ]Kagamiishi PA[/EXPRESSION:Starting:=:鏡石ＰＡ]
		[EXPRESSION:Starting:=:須賀川]Sukagawa[/EXPRESSION:Starting:=:須賀川]
		[EXPRESSION:Starting:=:郡山南]Kooriyama Minami[/EXPRESSION:Starting:=:郡山南]
		[EXPRESSION:Starting:=:郡山(東北自動車道)]Kooriyama[/EXPRESSION:Starting:=:郡山(東北自動車道)]
		[EXPRESSION:Starting:=:本宮]Motomiya[/EXPRESSION:Starting:=:本宮]
		[EXPRESSION:Starting:=:二本松]Nihonmatsu[/EXPRESSION:Starting:=:二本松]
		[EXPRESSION:Starting:=:福島松川ＰＡ]Fukushima Matsukawa PA[/EXPRESSION:Starting:=:福島松川ＰＡ]
		[EXPRESSION:Starting:=:福島西]Fukushima Nishi[/EXPRESSION:Starting:=:福島西]
		[EXPRESSION:Starting:=:福島飯坂]Fukushima Iizaka[/EXPRESSION:Starting:=:福島飯坂]
		[EXPRESSION:Starting:=:国見]Kunimi[/EXPRESSION:Starting:=:国見]
		[EXPRESSION:Starting:=:白石]Shiroishi[/EXPRESSION:Starting:=:白石]
		[EXPRESSION:Starting:=:村田]Murata[/EXPRESSION:Starting:=:村田]
		[EXPRESSION:Starting:=:仙台南]Sendai Minami[/EXPRESSION:Starting:=:仙台南]
		[EXPRESSION:Starting:=:仙台宮城]Sendai Miyagi[/EXPRESSION:Starting:=:仙台宮城]
		[EXPRESSION:Starting:=:泉ＰＡ]Izumi PA[/EXPRESSION:Starting:=:泉ＰＡ]
		[EXPRESSION:Starting:=:泉]Izumi[/EXPRESSION:Starting:=:泉]
		[EXPRESSION:Starting:=:大和]Taiwa[/EXPRESSION:Starting:=:大和]
		[EXPRESSION:Starting:=:大衡]Ohira[/EXPRESSION:Starting:=:大衡]
		[EXPRESSION:Starting:=:三本木ＰＡ]Sanbongi PA[/EXPRESSION:Starting:=:三本木ＰＡ]
		[EXPRESSION:Starting:=:古川]Furukawa[/EXPRESSION:Starting:=:古川]
		[EXPRESSION:Starting:=:長者原ＳＡ]Chojahara SA[/EXPRESSION:Starting:=:長者原ＳＡ]
		[EXPRESSION:Starting:=:築館]Tsukidate[/EXPRESSION:Starting:=:築館]
		[EXPRESSION:Starting:=:若柳金成]Wakayanagi Kannari[/EXPRESSION:Starting:=:若柳金成]
		[EXPRESSION:Starting:=:一関]Ichinoseki[/EXPRESSION:Starting:=:一関]
		[EXPRESSION:Starting:=:平泉前沢]Hiraizumi Maesawa[/EXPRESSION:Starting:=:平泉前沢]	
		[EXPRESSION:Starting:=:水沢]Mizusawa[/EXPRESSION:Starting:=:水沢]
		[EXPRESSION:Starting:=:北上金ヶ崎]Kitakami Kanegasaki[/EXPRESSION:Starting:=:北上金ヶ崎]
		[EXPRESSION:Starting:=:北上江釣子]Kitakami Ezuriko[/EXPRESSION:Starting:=:北上江釣子]
		[EXPRESSION:Starting:=:花巻南]Hanamaki Minami[/EXPRESSION:Starting:=:花巻南]
		[EXPRESSION:Starting:=:花巻]Hanamaki[/EXPRESSION:Starting:=:花巻]
		[EXPRESSION:Starting:=:紫波]Shiwa[/EXPRESSION:Starting:=:紫波]
		[EXPRESSION:Starting:=:盛岡南]Morioka Minami[/EXPRESSION:Starting:=:盛岡南]
		[EXPRESSION:Starting:=:盛岡]Morioka[/EXPRESSION:Starting:=:盛岡]
		[EXPRESSION:Starting:=:滝沢]Takizawa[/EXPRESSION:Starting:=:滝沢]
		[EXPRESSION:Starting:=:西根]Nishine[/EXPRESSION:Starting:=:西根]
		[EXPRESSION:Starting:=:松尾八幡平]Matsuo Hachimantai[/EXPRESSION:Starting:=:松尾八幡平]
		[EXPRESSION:Starting:=:安代]Ashiro[/EXPRESSION:Starting:=:安代]
		[EXPRESSION:Starting:=:鹿角八幡平]Kaduno Hachimantai[/EXPRESSION:Starting:=:鹿角八幡平]
		[EXPRESSION:Starting:=:十和田]Towada[/EXPRESSION:Starting:=:十和田]
		[EXPRESSION:Starting:=:小坂]Kosaka[/EXPRESSION:Starting:=:小坂]
		[EXPRESSION:Starting:=:碇ヶ関]Ikarigaseki[/EXPRESSION:Starting:=:碇ヶ関]
		[EXPRESSION:Starting:=:大鰐弘前]Owanihirosaki[/EXPRESSION:Starting:=:大鰐弘前]
		[EXPRESSION:Starting:=:黒石]Kuroishi[/EXPRESSION:Starting:=:黒石]
		[EXPRESSION:Starting:=:浪岡]Namioka[/EXPRESSION:Starting:=:浪岡]
</td>
<td>[HASNOVALUE:Ending]Ending Road Names[/HASNOVALUE:Ending]
	
	[HASBROKER]Doto Expressway | 道東自動車道[/HASBROKER]
		[EXPRESSION:Ending:=:千歳東]Chitose Higashi[/EXPRESSION:Ending:=:千歳東]
		[EXPRESSION:Ending:=:追分町]Oiwake Cho[/EXPRESSION:Ending:=:追分町]
		[EXPRESSION:Ending:=:夕張]Yubari[/EXPRESSION:Ending:=:夕張]
		[EXPRESSION:Ending:=:むかわ穂別]Mukawa Hobetsu[/EXPRESSION:Ending:=:むかわ穂別]
		[EXPRESSION:Ending:=:占冠]Shimukappu[/EXPRESSION:Ending:=:占冠]
		[EXPRESSION:Ending:=:トマム]Tomamu[/EXPRESSION:Ending:=:トマム]
		[EXPRESSION:Ending:=:十勝清水]Tokachi Shimizu[/EXPRESSION:Ending:=:十勝清水]
		[EXPRESSION:Ending:=:芽室]Memuro[/EXPRESSION:Ending:=:芽室]
		[EXPRESSION:Ending:=:帯広ＪＣＴ]Obihiro JCT[/EXPRESSION:Ending:=:帯広ＪＣＴ]
		[EXPRESSION:Ending:=:音更帯広]Otofuke Obihiro[/EXPRESSION:Ending:=:音更帯広]
		[EXPRESSION:Ending:=:池田(道東自動車道)]Ikeda[/EXPRESSION:Ending:=:池田(道東自動車道)]
		[EXPRESSION:Ending:=:本別]Honbetsu[/EXPRESSION:Ending:=:本別]
		[EXPRESSION:Ending:=:足寄]Ashoro[/EXPRESSION:Ending:=:足寄]																																													
		
	[HASBROKER]Hokkaido Expressway | 道央自動車道[/HASBROKER]
		[EXPRESSION:Ending:=:大沼公園]Onuma Koen[/EXPRESSION:Ending:=:大沼公園]
		[EXPRESSION:Ending:=:森]Mori[/EXPRESSION:Ending:=:森]
		[EXPRESSION:Ending:=:落部]Otoshibe[/EXPRESSION:Ending:=:落部]
		[EXPRESSION:Ending:=:八雲]Yakumo[/EXPRESSION:Ending:=:八雲]
		[EXPRESSION:Ending:=:国縫]Kunnuki[/EXPRESSION:Ending:=:国縫]
		[EXPRESSION:Ending:=:長万部]Oshamanbe[/EXPRESSION:Ending:=:長万部]
		[EXPRESSION:Ending:=:豊浦]Toyoura[/EXPRESSION:Ending:=:豊浦]
		[EXPRESSION:Ending:=:虻田洞爺湖]Abuta Touyako[/EXPRESSION:Ending:=:虻田洞爺湖]
		[EXPRESSION:Ending:=:伊達]Date[/EXPRESSION:Ending:=:伊達]
		[EXPRESSION:Ending:=:室蘭]Muroran[/EXPRESSION:Ending:=:室蘭]
		[EXPRESSION:Ending:=:登別室蘭]Nonoribetsu Muroran[/EXPRESSION:Ending:=:登別室蘭]
		[EXPRESSION:Ending:=:登別東]Noboribetsu Higashi[/EXPRESSION:Ending:=:登別東]
		[EXPRESSION:Ending:=:白老]Shiraoi[/EXPRESSION:Ending:=:白老]
		[EXPRESSION:Ending:=:苫小牧西]Tomakomai Nishi[/EXPRESSION:Ending:=:苫小牧西]
		[EXPRESSION:Ending:=:苫小牧東]Tomakomai Higashi[/EXPRESSION:Ending:=:苫小牧東]
		[EXPRESSION:Ending:=:千歳]Chitose[/EXPRESSION:Ending:=:千歳]
		[EXPRESSION:Ending:=:恵庭]Eniwa[/EXPRESSION:Ending:=:恵庭]
		[EXPRESSION:Ending:=:輪厚ＰＡ]Wattsu PA[/EXPRESSION:Ending:=:輪厚ＰＡ]
		[EXPRESSION:Ending:=:北広島]Kita Hiroshima[/EXPRESSION:Ending:=:北広島]
		[EXPRESSION:Ending:=:札幌南]Muroran[/EXPRESSION:Ending:=:札幌南]
		[EXPRESSION:Ending:=:大谷地]Ooyachi[/EXPRESSION:Ending:=:大谷地]
		[EXPRESSION:Ending:=:北郷]Kitago[/EXPRESSION:Ending:=:北郷]
		[EXPRESSION:Ending:=:札幌]Sapporo[/EXPRESSION:Ending:=:札幌]										
		[EXPRESSION:Ending:=:江別西]Ebetsu Nishi[/EXPRESSION:Ending:=:江別西]
		[EXPRESSION:Ending:=:江別東]Ebetsu Higashi[/EXPRESSION:Ending:=:江別東]
		[EXPRESSION:Ending:=:岩見沢]Iwamizawa[/EXPRESSION:Ending:=:岩見沢]	
		[EXPRESSION:Ending:=:三笠]Mikasa[/EXPRESSION:Ending:=:三笠]
		[EXPRESSION:Ending:=:美唄]Bibai[/EXPRESSION:Ending:=:美唄]										
		[EXPRESSION:Ending:=:奈井江砂川]Naiesunagawa[/EXPRESSION:Ending:=:奈井江砂川]
		[EXPRESSION:Ending:=:滝川]Takikawa[/EXPRESSION:Ending:=:滝川]
		[EXPRESSION:Ending:=:深川]Fukagawa[/EXPRESSION:Ending:=:深川]	
		[EXPRESSION:Ending:=:旭川鷹栖]Asahikawa Takasu[/EXPRESSION:Ending:=:旭川鷹栖]
		[EXPRESSION:Ending:=:旭川北]Asahikawa Kita[/EXPRESSION:Ending:=:旭川北]
		[EXPRESSION:Ending:=:比布ＪＣＴ]Pippu JCT[/EXPRESSION:Ending:=:比布ＪＣＴ]										
		[EXPRESSION:Ending:=:和寒]Wassamu[/EXPRESSION:Ending:=:和寒]
		[EXPRESSION:Ending:=:士別剣淵]Shibetsu Kenbuchi[/EXPRESSION:Ending:=:士別剣淵]

	[HASBROKER]Sasson Expressway | 札樽自動車道[/HASBROKER]
		[EXPRESSION:Ending:=:雁来]Kariki[/EXPRESSION:Ending:=:雁来]
		[EXPRESSION:Ending:=:伏古]Fushiko[/EXPRESSION:Ending:=:伏古]
		[EXPRESSION:Ending:=:札幌北]Sapporo Kita[/EXPRESSION:Ending:=:札幌北]
		[EXPRESSION:Ending:=:新川]Shinkawa[/EXPRESSION:Ending:=:新川]
		[EXPRESSION:Ending:=:札幌西]Sapporo Nishi[/EXPRESSION:Ending:=:札幌西]
		[EXPRESSION:Ending:=:手稲]Teine[/EXPRESSION:Ending:=:手稲]
		[EXPRESSION:Ending:=:銭函]Zenibako[/EXPRESSION:Ending:=:銭函]												
		[EXPRESSION:Ending:=:朝里]Asari[/EXPRESSION:Ending:=:朝里]			
		[EXPRESSION:Ending:=:小樽]Otaru[/EXPRESSION:Ending:=:小樽]							

	[HASBROKER]Hidaka Expressway | 日高自動車道[/HASBROKER]
		[EXPRESSION:Ending:=:苫小牧東]Tomakomai Higashi[/EXPRESSION:Ending:=:苫小牧東]	
		[EXPRESSION:Ending:=:沼ノ端西]Numanohata Nishi[/EXPRESSION:Ending:=:沼ノ端西]		
		
	[HASBROKER]Fukagawa Rumoi Expressway | 深川留萌自動車道[/HASBROKER]
		[EXPRESSION:Ending:=:深川西]Fukagawa Nishi[/EXPRESSION:Ending:=:深川西]	
		
	[HASBROKER]Momoishi Road | 百石道路[/HASBROKER]
		[EXPRESSION:Ending:=:八戸北]Hachinohe Kita[/EXPRESSION:Ending:=:八戸北]
		[EXPRESSION:Ending:=:下田百石]Shimodamomoishi[/EXPRESSION:Ending:=:下田百石]			
		
	[HASBROKER]Aomori Expressway | 青森自動車道[/HASBROKER]
		[EXPRESSION:Ending:=:青森中央]Aomori Chuo[/EXPRESSION:Ending:=:青森中央]
		[EXPRESSION:Ending:=:青森東]Aomori Higashi[/EXPRESSION:Ending:=:青森東]		
		
	[HASBROKER]Hachinohe Expressway | 八戸自動車道[/HASBROKER]
		[EXPRESSION:Ending:=:浄法寺]Joubouji[/EXPRESSION:Ending:=:浄法寺]	
		[EXPRESSION:Ending:=:一戸]Ichinohe[/EXPRESSION:Ending:=:一戸]	
		[EXPRESSION:Ending:=:九戸]Kunohe[/EXPRESSION:Ending:=:九戸]	
		[EXPRESSION:Ending:=:軽米]Karumai[/EXPRESSION:Ending:=:軽米]	
		[EXPRESSION:Ending:=:南郷八戸自動車道]Nango[/EXPRESSION:Ending:=:南郷八戸自動車道]									
		
	[HASBROKER]Akita Expressway | 秋田自動車道[/HASBROKER]
		[EXPRESSION:Ending:=:北上西]Kitakami Nishi[/EXPRESSION:Ending:=:北上西]
		[EXPRESSION:Ending:=:湯田]Yuda[/EXPRESSION:Ending:=:湯田]
		[EXPRESSION:Ending:=:横手]Yokote[/EXPRESSION:Ending:=:横手]
		[EXPRESSION:Ending:=:大曲]Omagari[/EXPRESSION:Ending:=:大曲]
		[EXPRESSION:Ending:=:西仙北ＳＡ]Nishi Senboku SA[/EXPRESSION:Ending:=:西仙北ＳＡ]
		[EXPRESSION:Ending:=:協和]Kyouwa[/EXPRESSION:Ending:=:協和]
		[EXPRESSION:Ending:=:秋田南]Akita Minami[/EXPRESSION:Ending:=:秋田南]
		[EXPRESSION:Ending:=:秋田中央]Akita Chuo[/EXPRESSION:Ending:=:秋田中央]
		[EXPRESSION:Ending:=:秋田北]Akita Kita[/EXPRESSION:Ending:=:秋田北]
		[EXPRESSION:Ending:=:昭和男鹿半島]Shouwa Ogahanto[/EXPRESSION:Ending:=:昭和男鹿半島]
		[EXPRESSION:Ending:=:五城目八郎潟]Gojoume Hachirougata[/EXPRESSION:Ending:=:五城目八郎潟]
		[EXPRESSION:Ending:=:琴丘森岳]Kotookamoritake[/EXPRESSION:Ending:=:琴丘森岳]
		[EXPRESSION:Ending:=:八竜]Hachiryu[/EXPRESSION:Ending:=:八竜]
		
	[HASBROKER]Kamaishi Expressway | 釜石自動車道[/HASBROKER]
		[EXPRESSION:Ending:=:花巻空港]Hanamaki Airport[/EXPRESSION:Ending:=:花巻空港]
		[EXPRESSION:Ending:=:東和]Towa[/EXPRESSION:Ending:=:東和]

	[HASBROKER]Tohoku Expressway | 東北自動車道[/HASBROKER]
		[EXPRESSION:Ending:=:浦和]Urawa[/EXPRESSION:Ending:=:浦和]
		[EXPRESSION:Ending:=:岩槻]Iwatsuki[/EXPRESSION:Ending:=:岩槻]
		[EXPRESSION:Ending:=:蓮田ＳＡ]Hasuda SA[/EXPRESSION:Ending:=:蓮田ＳＡ]
		[EXPRESSION:Ending:=:久喜]Kuki[/EXPRESSION:Ending:=:久喜]
		[EXPRESSION:Ending:=:加須]Kazo[/EXPRESSION:Ending:=:加須]
		[EXPRESSION:Ending:=:羽生]Hanyu[/EXPRESSION:Ending:=:羽生]
		[EXPRESSION:Ending:=:館林]Tatebayashi[/EXPRESSION:Ending:=:館林]
		[EXPRESSION:Ending:=:佐野藤岡]Sano Fujioka[/EXPRESSION:Ending:=:佐野藤岡]
		[EXPRESSION:Ending:=:佐野ＳＡ]Sano SA[/EXPRESSION:Ending:=:佐野ＳＡ]
		[EXPRESSION:Ending:=:栃木]Tochigi[/EXPRESSION:Ending:=:栃木]
		[EXPRESSION:Ending:=:鹿沼]Kanuma[/EXPRESSION:Ending:=:鹿沼]
		[EXPRESSION:Ending:=:宇都宮]Utsunomiya[/EXPRESSION:Ending:=:宇都宮]
		[EXPRESSION:Ending:=:上河内ＳＡ]Kamikawauchi SA[/EXPRESSION:Ending:=:上河内ＳＡ]
		[EXPRESSION:Ending:=:矢板]Yaita[/EXPRESSION:Ending:=:矢板]
		[EXPRESSION:Ending:=:西那須野塩原]Nishi Nasunoshiobara[/EXPRESSION:Ending:=:西那須野塩原]
		[EXPRESSION:Ending:=:黒磯板室]Kuroiso Itamuro[/EXPRESSION:Ending:=:黒磯板室]
		[EXPRESSION:Ending:=:那須]Nasu[/EXPRESSION:Ending:=:那須]
		[EXPRESSION:Ending:=:那須高原ＳＡ]Utsunomiya[/EXPRESSION:Ending:=:那須高原ＳＡ]
		[EXPRESSION:Ending:=:宇都宮]Nasukogen SA[/EXPRESSION:Ending:=:宇都宮]
		[EXPRESSION:Ending:=:白河]Shirakawa[/EXPRESSION:Ending:=:白河]
		[EXPRESSION:Ending:=:白河中央スマート]Shirakawa Chuo Smart[/EXPRESSION:Ending:=:白河中央スマート]
		[EXPRESSION:Ending:=:矢吹]Yabuki[/EXPRESSION:Ending:=:矢吹]
		[EXPRESSION:Ending:=:鏡石ＰＡ]Kagamiishi PA[/EXPRESSION:Ending:=:鏡石ＰＡ]
		[EXPRESSION:Ending:=:須賀川]Sukagawa[/EXPRESSION:Ending:=:須賀川]
		[EXPRESSION:Ending:=:郡山南]Kooriyama Minami[/EXPRESSION:Ending:=:郡山南]
		[EXPRESSION:Ending:=:郡山(東北自動車道)]Kooriyama[/EXPRESSION:Ending:=:郡山(東北自動車道)]
		[EXPRESSION:Ending:=:本宮]Motomiya[/EXPRESSION:Ending:=:本宮]
		[EXPRESSION:Ending:=:二本松]Nihonmatsu[/EXPRESSION:Ending:=:二本松]
		[EXPRESSION:Ending:=:福島松川ＰＡ]Fukushima Matsukawa PA[/EXPRESSION:Ending:=:福島松川ＰＡ]
		[EXPRESSION:Ending:=:福島西]Fukushima Nishi[/EXPRESSION:Ending:=:福島西]
		[EXPRESSION:Ending:=:福島飯坂]Fukushima Iizaka[/EXPRESSION:Ending:=:福島飯坂]
		[EXPRESSION:Ending:=:国見]Kunimi[/EXPRESSION:Ending:=:国見]
		[EXPRESSION:Ending:=:白石]Shiroishi[/EXPRESSION:Ending:=:白石]
		[EXPRESSION:Ending:=:村田]Murata[/EXPRESSION:Ending:=:村田]
		[EXPRESSION:Ending:=:仙台南]Sendai Minami[/EXPRESSION:Ending:=:仙台南]
		[EXPRESSION:Ending:=:仙台宮城]Sendai Miyagi[/EXPRESSION:Ending:=:仙台宮城]
		[EXPRESSION:Ending:=:泉ＰＡ]Izumi PA[/EXPRESSION:Ending:=:泉ＰＡ]
		[EXPRESSION:Ending:=:泉]Izumi[/EXPRESSION:Ending:=:泉]
		[EXPRESSION:Ending:=:大和]Taiwa[/EXPRESSION:Ending:=:大和]
		[EXPRESSION:Ending:=:大衡]Ohira[/EXPRESSION:Ending:=:大衡]
		[EXPRESSION:Ending:=:三本木ＰＡ]Sanbongi PA[/EXPRESSION:Ending:=:三本木ＰＡ]
		[EXPRESSION:Ending:=:古川]Furukawa[/EXPRESSION:Ending:=:古川]
		[EXPRESSION:Ending:=:長者原ＳＡ]Chojahara SA[/EXPRESSION:Ending:=:長者原ＳＡ]
		[EXPRESSION:Ending:=:築館]Tsukidate[/EXPRESSION:Ending:=:築館]
		[EXPRESSION:Ending:=:若柳金成]Wakayanagi Kannari[/EXPRESSION:Ending:=:若柳金成]
		[EXPRESSION:Ending:=:一関]Ichinoseki[/EXPRESSION:Ending:=:一関]
		[EXPRESSION:Ending:=:平泉前沢]Hiraizumi Maesawa[/EXPRESSION:Ending:=:平泉前沢]	
		[EXPRESSION:Ending:=:水沢]Mizusawa[/EXPRESSION:Ending:=:水沢]
		[EXPRESSION:Ending:=:北上金ヶ崎]Kitakami Kanegasaki[/EXPRESSION:Ending:=:北上金ヶ崎]
		[EXPRESSION:Ending:=:北上江釣子]Kitakami Ezuriko[/EXPRESSION:Ending:=:北上江釣子]
		[EXPRESSION:Ending:=:花巻南]Hanamaki Minami[/EXPRESSION:Ending:=:花巻南]
		[EXPRESSION:Ending:=:花巻]Hanamaki[/EXPRESSION:Ending:=:花巻]
		[EXPRESSION:Ending:=:紫波]Shiwa[/EXPRESSION:Ending:=:紫波]
		[EXPRESSION:Ending:=:盛岡南]Morioka Minami[/EXPRESSION:Ending:=:盛岡南]
		[EXPRESSION:Ending:=:盛岡]Morioka[/EXPRESSION:Ending:=:盛岡]
		[EXPRESSION:Ending:=:滝沢]Takizawa[/EXPRESSION:Ending:=:滝沢]
		[EXPRESSION:Ending:=:西根]Nishine[/EXPRESSION:Ending:=:西根]
		[EXPRESSION:Ending:=:松尾八幡平]Matsuo Hachimantai[/EXPRESSION:Ending:=:松尾八幡平]
		[EXPRESSION:Ending:=:安代]Ashiro[/EXPRESSION:Ending:=:安代]
		[EXPRESSION:Ending:=:鹿角八幡平]Kaduno Hachimantai[/EXPRESSION:Ending:=:鹿角八幡平]
		[EXPRESSION:Ending:=:十和田]Towada[/EXPRESSION:Ending:=:十和田]
		[EXPRESSION:Ending:=:小坂]Kosaka[/EXPRESSION:Ending:=:小坂]
		[EXPRESSION:Ending:=:碇ヶ関]Ikarigaseki[/EXPRESSION:Ending:=:碇ヶ関]
		[EXPRESSION:Ending:=:大鰐弘前]Owanihirosaki[/EXPRESSION:Ending:=:大鰐弘前]
		[EXPRESSION:Ending:=:黒石]Kuroishi[/EXPRESSION:Ending:=:黒石]
		[EXPRESSION:Ending:=:浪岡]Namioka[/EXPRESSION:Ending:=:浪岡]
</td>        
<td>[Custom:LicenseNumber]</td>
<td>[Custom:InvoiceDate]</td>
</tr>