         <div id="tablewrapper" >
		<div id="tableheader">
        	<div class="search">
                <select id="columns" onchange="sorter.search('query')"></select>
                <input type="text" id="query" onkeyup="sorter.search('query')" />
            </div>
            <span class="details">
        		<div class="btn-reset">Toll Fee Usage Breakdown <span id="startrecord"></span>-<span id="endrecord"></span> of <span id="totalrecords"></span> &nbsp;<a class="btn btn btn-info" href="javascript:sorter.reset()"><i class="icon-repeat icon-white"></i> Reset</a></div>
        	</span>
        </div>
        <section>
        <table cellpadding="0" cellspacing="0" border="0" id="table" class="tinytable">
            <thead>
                <tr>
                    <th><h3>Date</h3></th>
                    <th class="nosort"><h3>Time</h3></th>
                    <th class="nosort"><h3>Toll Fee</h3></th>
                    <th class="nosort"><h3>From Toll</h3></th>              
                    <th class="nosort"><h3>To Toll</h3></th>
                    <th><h3>Vehicle</h3></th>
                    <th><h3>Invoice</h3></th>                    
                </tr>
            </thead>
            <tbody>
     </div>