<table cellSpacing="1" cellPadding="0" align="center" border="0" width="100%">
<tr>
<td class="CarTable">

<table cellSpacing="1" cellPadding="3" width="100%" border="0">
<tr>
<td class="CarContentCellAlternate" valign="middle">

<table>
<tr>
<td width="140px" class="Normal" align="center">

<table class="photo-frame" align="center" ID="Table1">
<tr>
<td class="topx--"></td>
<td class="top-x-"></td>
<td class="top--x"></td>
</tr>
<tr>
<td class="midx--"></td>
<td valign="top"><a href="[LINK]"><img src="[PHOTOLINKSMALL]" border="0" class="photo_198" width="[PHOTOWIDTHSMALL]" height="[PHOTOHEIGHTSMALL]"></a><br /></td>
<td class="mid--x"></td>
</tr>
<tr>
<td class="botx--"></td>
<td class="bot-x-"></td>
<td class="bot--x"></td>
</tr>
</table>

</td>
<td valign="top" class="Normal">
[EDIT]
<span class="CarLink" class="CardLink"><a href="[LINK]">[CUSTOM:MODEL]</a></span><br />
[CUSTOMFIELDSLISTING]
</td>
</tr>
</table>

</td>
</tr>
</table>

</td>
</tr>
</table>
