<tr>
    <td colspan="6" height="5"></td>
  </tr>
  

    


 
  
   <tr id="hiRow[PROPERTYID]-1" onmouseover="hilightRows(this.id, true)" onmouseout="hilightRows(this.id, false)" style="cursor: pointer;" class="Featured" onclick="DoNav('[LINK]');">
    <td rowspan="2">[HASIMAGES]<a href="[LINK]"><img src="[PHOTOLINKSMALL]" border="0" class="photo_198" width="[PHOTOWIDTHSMALL]" height="[PHOTOHEIGHTSMALL]"></a>[/HASIMAGES]</td>
    <td>[EDIT]<strong>[CUSTOM:Title]</strong></td>
    <td><strong>[CUSTOM:Bedrooms]</strong></td>
    <td><strong>[CUSTOM:Bathrooms]</strong></td>
    <td><strong>[CUSTOM:Rent]</strong></td>
    <td><strong>[CUSTOM:City]</strong></td>
  </tr>
  <tr id="hiRow[PROPERTYID]-2" onmouseover="hilightRows(this.id, true)" onmouseout="hilightRows(this.id, false)" style="cursor: pointer;" class="Featured">
     <td onclick="DoNav('[LINK]');">[CUSTOM:Introduction]</td>
    <td colspan="4" rowspan="2">
    
    <table width="100%" border="1" cellpadding="2" cellspacing="0" bordercolor="#993300" class="Normal">
  <tr>
    <td width="50%" onclick="DoNav('[LINK]');"><div align="center">[CUSTOM:Owner]<br />
      [CUSTOM:Phone]</div></td>
    <td nowrap="nowrap" onclick="DoNav('[LINK]');"><div align="center">[CUSTOM:Address]<br />
      [CUSTOM:City], [CUSTOM:State] [CUSTOM:ZIP]</div></td>
  </tr>
    <tr bgcolor="#993300">
    <td nowrap="nowrap" colspan="2"><div align="center" class="whitelink"><a href="[LINK]" class="whitelink">View Details</a> | <a href="http://maps.google.com/maps?q=[CUSTOM:Address],+[CUSTOM:City],+[CUSTOM:State],+[CUSTOM:ZIP],+USA" target="new" class="whitelink">View Map</a> | <a href="mailto:[CUSTOM:Email]" class="whitelink">Contact Landlord</a></div>      <div align="center"></div></td>
    </tr>
</table>

  
    </td>
  </tr>
   <tr id="hiRow[PROPERTYID]-3" onmouseover="hilightRows(this.id, true)" onmouseout="hilightRows(this.id, false)" style="cursor: pointer;" class="Featured" onclick="DoNav('[LINK]');">
    <td colspan="2">[TYPE]</td>
  </tr>  