<style type="text/css">
<!--
.style1 {
	font-size: 12px;
color:#000000;
}

.Property_title{

font-size:14px;
color:#A44E51;
font-weight:bold;
}
.property_heading {
color:#D09B5A;
font-size:12px;
font-weight:bold;

}
-->
</style>


<script language="javascript">
function mailpage()
{
mail_str = "mailto:?subject=Check out this rental property";
mail_str += "&body=I thought you might be interested in this rental property. You can view it at, " + location.href; 
location.href = mail_str;
}
</script> 