vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|07 Sep 2007 16:09:06 -0000
vti_extenderversion:SR|5.0.2.6790
vti_lineageid:SR|{6949B014-F315-4C86-B6A5-271E9EDFD37F}
vti_backlinkinfo:VX|
vti_cacheddtm:TX|07 Sep 2007 16:09:06 -0000
vti_filesize:IR|934
vti_cachedlinkinfo:VX|H|[LINK] S|[PHOTOLINKSMALL] H|[LINK] H|[LINK]
vti_cachedsvcrellinks:VX|NHUS|dnn/Portals/0/PropertyAgent/436/Templates/RealEstate/[LINK] NSUS|dnn/Portals/0/PropertyAgent/436/Templates/RealEstate/[PHOTOLINKSMALL] NHUS|dnn/Portals/0/PropertyAgent/436/Templates/RealEstate/[LINK] NHUS|dnn/Portals/0/PropertyAgent/436/Templates/RealEstate/[LINK]
vti_cachedneedsrewrite:BR|false
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_charset:SR|windows-1252
