vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|28 Sep 2007 22:00:24 -0000
vti_extenderversion:SR|5.0.2.6790
vti_lineageid:SR|{74A6A00C-39C3-48C4-A204-939381F12645}
vti_backlinkinfo:VX|
vti_cacheddtm:TX|28 Sep 2007 22:00:24 -0000
vti_filesize:IR|1013
vti_cachedlinkinfo:VX|H|[LINK] S|[PHOTOLINKSMALL] H|[LINK] H|[LINK]
vti_cachedsvcrellinks:VX|NHUS|dnn/Portals/0/PropertyAgent/436/Templates/RealEstate/[LINK] NSUS|dnn/Portals/0/PropertyAgent/436/Templates/RealEstate/[PHOTOLINKSMALL] NHUS|dnn/Portals/0/PropertyAgent/436/Templates/RealEstate/[LINK] NHUS|dnn/Portals/0/PropertyAgent/436/Templates/RealEstate/[LINK]
vti_cachedneedsrewrite:BR|false
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_charset:SR|windows-1252
