vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|11 Oct 2007 15:01:19 -0000
vti_extenderversion:SR|5.0.2.6790
vti_lineageid:SR|{183C89A0-FF57-4572-8ECB-14A882A165FC}
vti_backlinkinfo:VX|
vti_cacheddtm:TX|11 Oct 2007 15:01:19 -0000
vti_filesize:IR|2645
vti_cachedlinkinfo:VX|H|mailto:[CUSTOM:Email] H|mailto:[CUSTOM:Email] S|[TEMPLATEPATH]email.gif H|mailto:[CUSTOM:Email] H|[PRINTLINK] H|http://maps.google.com/maps S|[TEMPLATEPATH]map.jpg H|http://maps.google.com/maps H|javascript:mailpage() S|[TEMPLATEPATH]email.gif H|javascript:mailpage()
vti_cachedsvcrellinks:VX|NHUS|mailto:[CUSTOM:Email] NHUS|mailto:[CUSTOM:Email] NSUS|dnn/Portals/0/PropertyAgent/436/Templates/RealEstate/[TEMPLATEPATH]email.gif NHUS|mailto:[CUSTOM:Email] NHUS|dnn/Portals/0/PropertyAgent/436/Templates/RealEstate/[PRINTLINK] NHHS|http://maps.google.com/maps NSUS|dnn/Portals/0/PropertyAgent/436/Templates/RealEstate/[TEMPLATEPATH]map.jpg NHHS|http://maps.google.com/maps SHUS|javascript:mailpage() NSUS|dnn/Portals/0/PropertyAgent/436/Templates/RealEstate/[TEMPLATEPATH]email.gif SHUS|javascript:mailpage()
vti_cachedneedsrewrite:BR|false
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_charset:SR|windows-1252
