<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Language" content="en-us" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled 1</title>
<style type="text/css">
.style1 {
	background-color: #FFFFFF;
}
.style2 {
	color: #FFFFFF;
	background-color: #8DDC2D;
}
.style3 {
	text-align: right;
	color: #FFFFFF;
	background-color: #8DDC2D;
}
.style4 {
	color: #FFFFFF;
	background-color: #8DDC2D;
	text-transform: uppercase;
}
</style>
</head>

<body>

<table style="width: 100%" class="style1">
	<tr>
		<td class="style4" valign="top"><strong><a href="[Link]">[CUSTOM:PropertyName]</a></strong></td>
		<td class="style2" style="width: 15px">&nbsp;</td>
		<td class="style2">&nbsp;</td>
		<td class="style2" style="width: 15px">&nbsp;</td>
		<td class="style3"><a href="[Link]">View Details</a></td>
	</tr>
	<tr>
		<td valign="top" rowspan="3">&nbsp;&nbsp;&nbsp;[PHOTOSMALL]<br />
&nbsp;&nbsp; [CUSTOM:PropertyLocation]<br />
&nbsp;&nbsp; [CUSTOM:PropertyAddress]<br />
		</td>
		<td>&nbsp;</td>
		<td valign="top" rowspan="3">Number of Units: [CUSTOM:NumberofUnits]<br />
		Average Size of Unit: [CUSTOM:AverageSizeofUnit]<br />
		Ocean Front: [CUSTOM:OceanFront]<br />
		Ocean View: [CUSTOM:OceanView]</td>
		<td>&nbsp;</td>
		<td valign="top" rowspan="3">[CUSTOM:AgentGroup]<br />
		[CUSTOM:AgentName]<br />
		[CUSTOM:AgentPhoneNumber]<br />
		<a href="mailto:[CUSTOM:AgentEmailAddress]">[CUSTOM:AgentEmailAddress]</a></td>
	</tr>
	<tr>
		<td valign="top">&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
	</table>

</body>

</html>
