<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Language" content="en-us" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled 1</title>
<style type="text/css">
.style1 {
	background-color: #FFFFFF;
}
.style2 {
	color: #FFFFFF;
	background-color: #8DDC2D;
}
.style3 {
	text-align: right;
	color: #FFFFFF;
	background-color: #8DDC2D;
}
.style4 {
	background-color: #8DDC2D;
}
.style5 {
	text-decoration: underline;
}
</style>
</head>

<body>

<table style="width: 100%" class="style1">
	<tr>
		<td class="style4" valign="top"><strong>[CUSTOM:PropertyName]</strong></td>
		<td class="style2" style="width: 15px">&nbsp;</td>
		<td class="style2">&nbsp;</td>
		<td class="style2" style="width: 15px">&nbsp;</td>
		<td class="style3">&nbsp;</td>
	</tr>
	<tr>
		<td valign="top" rowspan="3">&nbsp;&nbsp;&nbsp;[PHOTOSMALL]<br />
&nbsp;&nbsp; [CUSTOM:PropertyLocation]<br />
&nbsp;&nbsp; [CUSTOM:PropertyAddress]<br />
&nbsp;&nbsp; </td>
		<td>&nbsp;</td>
		<td valign="top" rowspan="3">Asking Price: [CUSTOM:AskingPrice]<br />
		<br />
		Average Asking Price Per Unit: [CUSTOM:AskingPriceAverage]<br />
		<br />
		Number of Units: [CUSTOM:NumberofUnits]<br />
		Average Size of Unit: [CUSTOM:AverageSizeofUnit]<br />
		Ocean Front: [CUSTOM:OceanFront]<br />
		Ocean View: [CUSTOM:OceanView]</td>
		<td>&nbsp;</td>
		<td valign="top">[CUSTOM:AgentGroup]<br />
		[CUSTOM:AgentName]<br />
		[CUSTOM:AgentPhoneNumber]<br />
		<a href="mailto:[CUSTOM:AgentEmailAddress]">[CUSTOM:AgentEmailAddress]</a></td>
	</tr>
	<tr>
		<td valign="top">&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td valign="top">&nbsp;</td>
	</tr>
	<tr>
		<td colspan="5" style="height: 21px"><br />
		</td>
	</tr>
	<tr>
		<td colspan="5" style="height: 21px">[PHOTOS]</td>
	</tr>
	<tr>
		<td colspan="5" style="height: 21px"><br />
		</td>
	</tr>
	<tr>
		<td colspan="5" style="height: 21px">
		<table style="width: 100%" cellspacing="1" class="style1">
			<tr>
				<td class="style5"><strong>Property Files</strong></td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td>[CUSTOM:FileUpload01]</td>
				<td>[CUSTOM:FileUpload02]</td>
			</tr>
			<tr>
				<td>[CUSTOM:FileUpload03]</td>
				<td>[CUSTOM:FileUpload04]</td>
			</tr>
			<tr>
				<td>[CUSTOM:FileUpload05]</td>
				<td>[CUSTOM:FileUpload06]</td>
			</tr>
			<tr>
				<td>[CUSTOM:FileUpload07]</td>
				<td>[CUSTOM:FileUpload08]</td>
			</tr>
			<tr>
				<td>[CUSTOM:FileUpload09]</td>
				<td>[CUSTOM:FileUpload10]</td>
			</tr>
			<tr>
				<td>[CUSTOM:FileUpload11]</td>
				<td>[CUSTOM:FileUpload12]</td>
			</tr>
			<tr>
				<td>[CUSTOM:FileUpload13]</td>
				<td>[CUSTOM:FileUpload14]</td>
			</tr>
			<tr>
				<td>[CUSTOM:FileUpload15]</td>
				<td>[CUSTOM:FileUpload16]</td>
			</tr>
			<tr>
				<td>[CUSTOM:FileUpload17]</td>
				<td>[CUSTOM:FileUpload18]</td>
			</tr>
			<tr>
				<td>[CUSTOM:FileUpload19]</td>
				<td>[CUSTOM:FileUpload20]</td>
			</tr>
		</table>
		</td>
	</tr>
	<tr>
		<td colspan="5" style="height: 21px"><br />
		</td>
	</tr>
	<tr>
		<td colspan="5" style="height: 21px">[CUSTOM: BrokerNotes]</td>
	</tr>
	</table>

</body>

</html>
